@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";
.wishlist-edit {
  input[name="wishlistName"] {
    outline: none;
    border: 1px solid;
    padding: 1em 0.5em;
    border-radius: 0.5em;
  }
  .btn-create-wishlist,
  .btn-remove {
    align-self: center;
    background-color: #000000;
    color: $fontClr2;
    padding: 1em;
    border: none;

    &.disabled {
      cursor: not-allowed;
      background: $secondaryClr2;
    }
  }

  &.inside-wishlist-details {
    padding: 0;

    .input-container {
      padding: 1em;
    }
  }
  &-footer {
    border-block-start: 1px solid $secondaryClr2;
    padding: 1em;
    .btn-toggle-remove,
    .btn-cancel {
      border: none;
    }
  }
}
