@import "../../app-root/app.component.scss";
.wishlist-edit {
  padding: 1em;

  input[name="wishlistName"] {
    outline: none;
    border: 1px solid;
    padding: 1em 0.5em;
    border-radius: 0.5em;
  }
  .btn-create-wishlist {
    align-self: center;
    width: 100%;
    background-color: #000000;
    color: $fontclr2;
    padding: 1em;
    border: none;

    &.disabled {
      cursor: not-allowed;
      background: $secondaryClr2;
    }
  }
}
