<div class="wrapper">
  <a class="hidden-on-mobile" routerLink="/">
    <div class="logo-container fs20">
      <fa-icon class="logo fs34" [icon]="faAirbnb"></fa-icon>
      <span class="logo-txt">RentRoam</span>
    </div>
  </a>
  <div [class.inactive]="isSearchOpen" class="search-bar shadow">
    <button class="btn-search anywhere fw500" (click)="openSearch('loc')">
      {{ searchParam.location.name ? searchParam.location.name : "Anywhere" }}
    </button>

    <span class="hidden-on-mobile"></span>
    <button class="btn-search anyweek fw500" (click)="openSearch('check-in')">
      {{
        searchParam.startDate && searchParam.endDate
          ? searchParam.startDate.toLocaleDateString("en-GB", {
              day: "2-digit",
              month: "short"
            }) +
            "-" +
            searchParam.endDate.toLocaleDateString("en-GB", {
              day: "2-digit",
              month: "short"
            })
          : "Any week"
      }}
    </button>
    <span class="hidden-on-mobile"></span>
    <button class="btn-search guests fw400" (click)="openSearch('guests')">
      {{
        searchParam.guests.adults
          ? searchParam.guests.adults + searchParam.guests.children + " guests"
          : "Add guests"
      }}
    </button>
    <div
      *ngIf="
        !searchParam.startDate &&
          !searchParam.endDate &&
          !searchParam.location.name &&
          !searchParam.guests.adults;
        else backBtn
      "
      class="icon-container flex auto-center"
      (click)="openSearch('loc')"
    >
      <fa-icon class="icon search-icon fs12" [icon]="faSearch"></fa-icon>
    </div>

    <ng-template #backBtn>
      <div class="icon-container flex auto-center" (click)="clearSearch()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="
            display: block;
            fill: none;
            height: 12px;
            width: 12px;
            stroke: currentcolor;
            stroke-width: 5.33333;
            overflow: visible;
          "
        >
          <g fill="none">
            <path d="M4 16h26M15 28 3.7 16.7a1 1 0 0 1 0-1.4L15 4"></path>
          </g>
        </svg>
      </div>
    </ng-template>
    <button
      (click)="openFilterModal()"
      class="btn btn-filter shadow flex align-center space-between show-on-mobile"
    >
      <svg
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="display: block; height: 18px; width: 18px; fill: currentcolor"
      >
        <path
          d="M5 8c1.306 0 2.418.835 2.83 2H14v2H7.829A3.001 3.001 0 1 1 5 8zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm6-8a3 3 0 1 1-2.829 4H2V4h6.17A3.001 3.001 0 0 1 11 2zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
        ></path>
      </svg>
    </button>
  </div>
  <div
    [class.inactive]="!isSearchOpen"
    class="search-menu-wrapper hidden-on-mobile flex column align-center space-around shadow"
  >
    <div class="search-overlay" (click)="closeSearch()"></div>
    <div class="search-bar-active flex align-center space-between">
      <button
        (click)="setCurrSearch('loc'); inputField.focus()"
        [ngClass]="{
          'active-btn': currSearch === 'loc',
        }"
        class="btn-search destination fw500 flex column space-between align-start"
      >
        <span>Where</span>
        <input
          class="fw200 search-loc-input"
          placeholder="Search destinations"
          [(ngModel)]="locSearch"
          (input)="getSuggestions($event)"
          #inputField
        />
      </button>

      <span class="hidden-on-mobile"></span>
      <button
        class="btn-search Check-in fw500 flex column space-between align-start"
        [ngClass]="{
          'active-btn': currSearch === 'check-in',
        }"
        (click)="picker.open()"
      >
        <span>Check in</span>
        <span class="fw200">{{
          searchParam.startDate
            ? searchParam.startDate.toLocaleDateString("en-GB", {
                day: "2-digit",
                month: "short"
              })
            : "Add dates"
        }}</span>
      </button>
      <span class="hidden-on-mobile"></span>
      <button
        class="btn-search Check-out fw500 flex column space-between align-start"
        [ngClass]="{
          'active-btn': currSearch === 'check-out',
        }"
        (click)="picker.open()"
      >
        <span>Check out</span>
        <span class="fw200">{{
          searchParam.endDate
            ? searchParam.endDate.toLocaleDateString("en-GB", {
                day: "2-digit",
                month: "short"
              })
            : "Add dates"
        }}</span>
      </button>
      <span class="hidden-on-mobile"></span>
      <button
        class="btn-search guests flex space-between align-center"
        [ngClass]="{
          'active-btn': currSearch === 'guests'
        }"
        (click)="setCurrSearch('guests')"
      >
        <div
          class="guests-btn-txt-container flex column align-start space-between"
        >
          <span class="fw500">Who</span>
          <span class="fw200"
            >{{
              searchParam.guests.adults
                ? searchParam.guests.adults +
                  searchParam.guests.children +
                  " guests"
                : "Add guests"
            }}{{
              searchParam.guests.infants
                ? searchParam.guests.infants + " inf..."
                : ""
            }}</span
          >
        </div>
        <div
          class="icon-container flex auto-center flex space-between align-center"
          (click)="setSearchParams($event)"
        >
          <fa-icon class="icon search-icon fs12" [icon]="faSearch"></fa-icon>
          <span class="fw500 fs16">Search</span>
        </div>
      </button>
    </div>
  </div>
  <div class="mat-btns-container flex space-between">
    <button
      mat-button
      #locMenuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="locMenu"
    >
      loc
    </button>
    <button>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [(ngModel)]="searchParam.startDate"
        />
        <input
          matEndDate
          placeholder="End date"
          [(ngModel)]="searchParam.endDate"
        />
      </mat-date-range-input>
    </button>
    <button
      mat-button
      #guestsMenuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="guestsMenu"
    >
      guest
    </button>
  </div>
  <mat-menu
    class="hidden-on-mobile"
    #locMenu="matMenu"
    yPosition="below"
    (close)="onCloseMenu()"
  >
    <h3 *ngIf="!locSearch">Search by region</h3>

    <div *ngIf="!locSearch" class="region-btns-container">
      <button mat-menu-item (click)="locSearch = 'I\'m flexible'">
        <img
          class="i17d61fu dir dir-ltr"
          alt=""
          src="https://a0.muscache.com/pictures/f9ec8a23-ed44-420b-83e5-10ff1f071a13.jpg"
        />
        <span>I'm flexible</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'France'">
        <img
          class="i17d61fu dir dir-ltr"
          alt=""
          src="https://a0.muscache.com/im/pictures/f0ece7c0-d9b2-49d5-bb83-64173d29cbe3.jpg?im_w=320"
        />
        France
      </button>
      <button mat-menu-item (click)="locSearch = 'United States'">
        <img
          class="i17d61fu dir dir-ltr"
          alt=""
          src="https://a0.muscache.com/im/pictures/4e762891-75a3-4fe1-b73a-cd7e673ba915.jpg?im_w=320"
        />
        <span>United States</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'Southeast Asia'">
        <img
          class="i17d61fu dir dir-ltr"
          alt=""
          src="https://a0.muscache.com/im/pictures/d77de9f5-5318-4571-88c7-e97d2355d20a.jpg?im_w=320"
        />
        <span>Southeast Asia</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'Spain'">
        <img
          class="i17d61fu dir dir-ltr"
          alt=""
          src="https://a0.muscache.com/im/pictures/a0fd6dfc-6bec-4abb-850e-9ab78ed7bf37.jpg?im_w=320"
        />
        <span>Spain</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'Australia'">
        <img
          class="i17d61fu dir dir-ltr"
          alt=""
          src="https://a0.muscache.com/im/pictures/42a1fb0f-214c-41ec-b9d7-135fbbdb8316.jpg?im_w=320"
        />
        Australia
      </button>
    </div>
    <div
      *ngIf="locSearch"
      class="loc-suggestions-container flex column space-between"
    >
      <button
        *ngFor="let place of suggestions"
        class="btn-suggestion flex align-center space-between"
        (click)="locSearch = place.description"
      >
        <div class="img-container">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="presentation"
            focusable="false"
            style="
              display: block;
              height: 22px;
              width: 22px;
              fill: currentcolor;
            "
          >
            <path
              d="M16 0c6.627 0 12 5.373 12 12 0 6.337-3.814 12.751-11.346 19.257L16 31.82l-1.076-.932C7.671 24.509 4 18.218 4 12 4 5.423 9.397 0 16 0zm0 2C10.504 2 6 6.525 6 12c0 5.44 3.249 11.118 9.831 17.02l.169.149.576-.518c6.178-5.65 9.293-11.092 9.42-16.318L26 12c0-5.523-4.477-10-10-10zm0 5a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6z"
            ></path>
          </svg>
        </div>
        <span>{{ place.description }}</span>
      </button>
    </div>
  </mat-menu>

  <mat-date-range-picker
    class="hidden-on-mobile"
    (opened)="onOpenDatePicker()"
    (closed)="onCloseMenu()"
    #picker
  ></mat-date-range-picker>
  <mat-menu
    class="hidden-on-mobile"
    #guestsMenu="matMenu"
    xPosition="before"
    yPosition="below"
    (close)="onCloseMenu()"
  >
    <div class="guests-menu-wrapper flex column space-between">
      <div class="guests-item-container">
        <h4>Adults</h4>
        <span>Ages 13 or above</span>
        <div class="plus-minus-btns-container flex align-center space-between">
          <button
            class="btn btn-subtract adults"
            (click)="updateGuests($event, -1)"
            [disabled]="searchParam.guests.adults <= 0"
            [class.disabled]="searchParam.guests.adults <= 0"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28"></path>
            </svg>
          </button>
          <span>{{ searchParam.guests.adults }}</span>
          <button class="btn btn-add adults" (click)="updateGuests($event, 1)">
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28m-14-14v28"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="guests-item-container">
        <h4>Children</h4>
        <span>Ages 2-12</span>
        <div class="plus-minus-btns-container flex align-center space-between">
          <button
            class="btn btn-subtract children"
            (click)="updateGuests($event, -1)"
            [disabled]="searchParam.guests.children <= 0"
            [class.disabled]="searchParam.guests.children <= 0"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28"></path>
            </svg>
          </button>
          <span>{{ searchParam.guests.children }}</span>
          <button
            class="btn btn-add children"
            (click)="updateGuests($event, 1)"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28m-14-14v28"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="guests-item-container">
        <h4>Infants</h4>
        <span>Under 2</span>
        <div class="plus-minus-btns-container flex align-center space-between">
          <button
            class="btn btn-subtract infants"
            (click)="updateGuests($event, -1)"
            [disabled]="searchParam.guests.infants <= 0"
            [class.disabled]="searchParam.guests.infants <= 0"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28"></path>
            </svg>
          </button>
          <span>{{ searchParam.guests.infants }}</span>
          <button class="btn btn-add infants" (click)="updateGuests($event, 1)">
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28m-14-14v28"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </mat-menu>
  <div class="options-btns-container flex space-between hidden-on-mobile">
    <button class="btn btn-options btn-mode">RentRoam your home</button>
    <button class="btn btn-options btn-lang">
      <fa-icon
        class="icon globe-icon fs14 fw800"
        [icon]="faGlobe"
      ></fa-icon></button
    ><button
      mat-button
      #loginSignupTrigger="matMenuTrigger"
      [matMenuTriggerFor]="loginSignup"
      class="btn btn-options btn-user flex align-center shadow"
      (click)="openLoginSignup()"
    >
      <fa-icon class="icon bars-icon fs14 fw800" [icon]="faBars"></fa-icon>
      <ng-container *ngIf="!loggedInUser; else userImg">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="display: block; height: 100%; width: 2em; fill: currentcolor"
        >
          <path
            d="m16 .7c-8.437 0-15.3 6.863-15.3 15.3s6.863 15.3 15.3 15.3 15.3-6.863 15.3-15.3-6.863-15.3-15.3-15.3zm0 28c-4.021 0-7.605-1.884-9.933-4.81a12.425 12.425 0 0 1 6.451-4.4 6.507 6.507 0 0 1 -3.018-5.49c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5a6.513 6.513 0 0 1 -3.019 5.491 12.42 12.42 0 0 1 6.452 4.4c-2.328 2.925-5.912 4.809-9.933 4.809z"
          ></path>
        </svg>
      </ng-container>
      <ng-template #userImg>
        <div class="img-container">
          <img [src]="loggedInUser!.imgUrl" alt="image of user" />
        </div>
      </ng-template>
    </button>
  </div>
  <mat-menu #loginSignup="matMenu" yPosition="below">
    <ng-container *ngIf="!loggedInUser; else userMenuOptions">
      <button mat-menu-item (click)="doLogin()" class="btn-login">
        Log in
      </button>
      <button mat-menu-item (click)="doSignup()" class="btn-signup">
        Sign up
      </button>
    </ng-container>
    <ng-template #userMenuOptions>
      <button mat-menu-item class="btn-dashboard">Dashboard</button>
      <button mat-menu-item class="btn-my-trips">My trips</button>
      <button mat-menu-item class="btn-wishlist">Wishlist</button>
      <button mat-menu-item class="btn-logout" (click)="onLogout()">
        Logout
      </button>
    </ng-template>
  </mat-menu>
  <mobile-search-menu (toggleSearchClosed)="closeSearch()"></mobile-search-menu>
  <div
    *ngIf="isShowSignupModal"
    class="modal-wrapper"
    (click)="isShowSignupModal = false"
  >
    <dynamic-modal
      [title]="'Log in or sign up'"
      class="dynamic-modal modal-content"
      (closeModal)="isShowSignupModal = false"
    >
      <signup-modal></signup-modal>
    </dynamic-modal>
  </div>
</div>
