<div class="wrapper flex space-between align-center">
  <div class="logo-container flex align-center space-between fs20">
    <fa-icon class="logo fs28" [icon]="faAirbnb"></fa-icon>

    <span class="logo-txt">RentRoam</span>
  </div>
  <div class="search-bar">
    <button class="btn-search">Anywhere</button>
    <button class="btn-search">Any week</button>
    <button class="btn-search">Add guests</button>
  </div>
  <div class="options-btns-container flex space-between">
    <button class="btn btn-options">Airbnb your home</button
    ><button class="btn btn-options">i18n</button
    ><button class="btn btn-options">user</button>
  </div>
</div>
