<div class="wrapper pbe1-5">
  <a class="hidden-on-mobile" routerLink="/" queryParamsHandling="preserve">
    <div class="logo-container fs20 fw700">
      <fa-icon class="logo fs34" [icon]="faAirbnb"></fa-icon>
      <span class="logo-txt">RentRoam</span>
    </div>
  </a>
  <div
    *ngIf="searchParam"
    [class.inactive]="isSearchOpen"
    class="search-bar shadow align-center pi1 text-left border2"
  >
    <button
      *ngIf="searchParam && searchParam.guests"
      class="btn-search anywhere pi1 fw500"
      (click)="openSearch('loc')"
    >
      {{ searchParam.location.name ? searchParam.location.name : "Anywhere" }}
    </button>

    <span class="hidden-on-mobile bgc2"></span>
    <button class="btn-search anyweek fw500" (click)="openSearch('check-in')">
      {{
        searchParam.startDate && searchParam.endDate
          ? searchParam.startDate.toLocaleDateString("en-GB", {
              day: "2-digit",
              month: "short"
            }) +
            "-" +
            searchParam.endDate.toLocaleDateString("en-GB", {
              day: "2-digit",
              month: "short"
            })
          : "Any week"
      }}
    </button>
    <span class="hidden-on-mobile bgc2"></span>
    <button
      *ngIf="searchParam && searchParam.guests"
      class="btn-search guests fw400"
      (click)="openSearch('guests')"
    >
      {{
        searchParam.guests.adults
          ? searchParam.guests.adults + searchParam.guests.children + " guests"
          : "Add guests"
      }}
    </button>
    <div
      *ngIf="
        !searchParam.startDate &&
          !searchParam.endDate &&
          !searchParam.location.name &&
          !searchParam.guests.adults;
        else backBtn
      "
      class="icon-container flex auto-center fs10 bgc-transparent"
      (click)="openSearch('loc')"
    >
      <fa-icon class="icon search-icon fs12" [icon]="faSearch"></fa-icon>
    </div>

    <ng-template #backBtn>
      <div
        class="icon-container flex auto-center bgc-transparent"
        (click)="clearSearch()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="
            display: block;
            fill: none;
            height: 12px;
            width: 12px;
            stroke: currentcolor;
            stroke-width: 5.33333;
            overflow: visible;
          "
        >
          <g fill="none">
            <path d="M4 16h26M15 28 3.7 16.7a1 1 0 0 1 0-1.4L15 4"></path>
          </g>
        </svg>
      </div>
    </ng-template>
    <button
      (click)="openFilterModal()"
      class="btn btn-filter shadow flex align-center space-between show-on-mobile border3 bgc-transparent"
    >
      <svg
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="display: block; height: 18px; width: 18px; fill: currentcolor"
      >
        <path
          d="M5 8c1.306 0 2.418.835 2.83 2H14v2H7.829A3.001 3.001 0 1 1 5 8zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm6-8a3 3 0 1 1-2.829 4H2V4h6.17A3.001 3.001 0 0 1 11 2zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
        ></path>
      </svg>
    </button>
  </div>
  <div
    [class.inactive]="!isSearchOpen"
    (click)="closeSearch()"
    class="search-menu-wrapper hidden-on-mobile flex column align-center space-around shadow pos-fixed"
  >
    <div class="search-overlay pos-fixed" (click)="closeSearch()"></div>
    <div class="search-bar-active flex align-center space-between mbe2 border2">
      <button
        appPreventDefault
        appStopPropagation
        (click)="setCurrSearch('loc')"
        [ngClass]="{
          'active-btn': currSearch === 'loc',
        }"
        class="btn-search bgc-transparent destination fw500 flex column space-between align-start pb1 pi2"
      >
        <span>Where</span>
        <input
          class="fw200 search-loc-input bgc-transparent no-border"
          placeholder="Search destinations"
          [(ngModel)]="locSearch"
          (input)="getSuggestions($event)"
          #inputField
        />
      </button>

      <span class="hidden-on-mobile"></span>
      <button
        appPreventDefault
        appStopPropagation
        class="btn-search bgc-transparent Check-in fw500 flex column space-between align-start pb1 pi2"
        [ngClass]="{
          'active-btn': currSearch === 'check-in',
        }"
        (click)="setCurrSearch('check-in')"
      >
        <span>Check in</span>
        <span class="fw200">{{
          searchParam.startDate
            ? searchParam.startDate.toLocaleDateString("en-GB", {
                day: "2-digit",
                month: "short"
              })
            : "Add dates"
        }}</span>
      </button>
      <span class="hidden-on-mobile"></span>
      <button
        appPreventDefault
        appStopPropagation
        class="btn-search bgc-transparent Check-out fw500 flex column space-between align-start pb1 pi2"
        [ngClass]="{
          'active-btn': currSearch === 'check-out',
        }"
        (click)="setCurrSearch('check-out')"
      >
        <span>Check out</span>
        <span class="fw200">{{
          searchParam.endDate
            ? searchParam.endDate.toLocaleDateString("en-GB", {
                day: "2-digit",
                month: "short"
              })
            : "Add dates"
        }}</span>
      </button>
      <span class="hidden-on-mobile"></span>
      <button
        appPreventDefault
        appStopPropagation
        class="btn-search guests flex space-between align-center p1 gap1"
        [ngClass]="{
          'active-btn': currSearch === 'guests'
        }"
        (click)="setCurrSearch('guests')"
      >
        <div
          class="guests-btn-txt-container flex column align-start space-between gap0-5"
        >
          <span class="fw500">Who</span>
          <span class="fw200" *ngIf="searchParam && searchParam.guests"
            >{{
              searchParam.guests.adults
                ? searchParam.guests.adults +
                  searchParam.guests.children +
                  " guests"
                : "Add guests"
            }}{{
              searchParam.guests.infants
                ? searchParam.guests.infants + " inf..."
                : ""
            }}</span
          >
        </div>
        <div
          class="icon-container flex auto-center flex space-between align-center p1-5 gap0-5 pi2 pos-relative"
          (click)="setSearchParams($event)"
        >
          <fa-icon class="icon search-icon fs12" [icon]="faSearch"></fa-icon>
          <span class="fw500 fs16">Search</span>
        </div>
      </button>
    </div>
  </div>
  <div class="mat-btns-container flex space-between pos-absolute">
    <button
      mat-button
      #locMenuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="locMenu"
    >
      loc
    </button>
    <button>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [(ngModel)]="searchParam.startDate"
        />
        <input
          matEndDate
          placeholder="End date"
          [(ngModel)]="searchParam.endDate"
        />
      </mat-date-range-input>
    </button>
    <button
      mat-button
      #guestsMenuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="guestsMenu"
    >
      guest
    </button>
  </div>
  <mat-menu class="hidden-on-mobile" #locMenu="matMenu" yPosition="below">
    <h3 *ngIf="!locSearch">Search by region</h3>

    <div *ngIf="!locSearch" class="region-btns-container gap1">
      <button mat-menu-item (click)="locSearch = 'I\'m flexible'">
        <img
          class="border3"
          alt=""
          src="https://a0.muscache.com/pictures/f9ec8a23-ed44-420b-83e5-10ff1f071a13.jpg"
        />
        <span>I'm flexible</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'Montreal, Canada'">
        <img
          class="i1q1697z atm_tl_glywfm atm_9s_1txwivl atm_e2_1osqo2v atm_vy_1osqo2v dir dir-ltr"
          alt=""
          src="https://a0.muscache.com/im/pictures/cd9f2bf0-eefc-4980-b7cb-9c8ca3dae883.jpg?im_w=320"
        />
        <span>Canada</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'Istanbul, Turkey'">
        <img
          class="i1q1697z atm_tl_glywfm atm_9s_1txwivl atm_e2_1osqo2v atm_vy_1osqo2v dir dir-ltr"
          alt=""
          src="https://a0.muscache.com/im/pictures/97d76097-22b3-4d87-9459-ad1b90b18d2f.jpg?im_w=320"
        />
        <span>Turkey</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'Porto, Portugal'">
        <img
          class="border3"
          alt=""
          src="https://a0.muscache.com/im/pictures/53a3d619-7012-4c3b-a7eb-e91553e96f6b.jpg?im_w=320"
        />
        <span>Portugal</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'Barcelona, Spain'">
        <img
          class="border3"
          alt=""
          src="https://a0.muscache.com/im/pictures/a0fd6dfc-6bec-4abb-850e-9ab78ed7bf37.jpg?im_w=320"
        />
        <span>Spain</span>
      </button>
      <button mat-menu-item (click)="locSearch = 'Sydney, Australia'">
        <img
          class="border3"
          alt=""
          src="https://a0.muscache.com/im/pictures/42a1fb0f-214c-41ec-b9d7-135fbbdb8316.jpg?im_w=320"
        />
        Australia
      </button>
    </div>
    <div
      *ngIf="locSearch"
      class="loc-suggestions-container flex column space-between"
    >
      <button
        *ngFor="
          let place of suggestions;
          let i = index;
          trackBy: trackByService.byIdx
        "
        class="btn-suggestion flex align-center space-between gap0-5 p1 bgc-transparent"
        (click)="locSearch = place.description"
      >
        <div class="img-container p1 bgc2">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="presentation"
            focusable="false"
            style="
              display: block;
              height: 22px;
              width: 22px;
              fill: currentcolor;
            "
          >
            <path
              d="M16 0c6.627 0 12 5.373 12 12 0 6.337-3.814 12.751-11.346 19.257L16 31.82l-1.076-.932C7.671 24.509 4 18.218 4 12 4 5.423 9.397 0 16 0zm0 2C10.504 2 6 6.525 6 12c0 5.44 3.249 11.118 9.831 17.02l.169.149.576-.518c6.178-5.65 9.293-11.092 9.42-16.318L26 12c0-5.523-4.477-10-10-10zm0 5a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6z"
            ></path>
          </svg>
        </div>
        <span>{{ place.description }}</span>
      </button>
    </div>
  </mat-menu>

  <mat-date-range-picker
    class="hidden-on-mobile"
    (opened)="onOpenDatePicker()"
    #picker
  ></mat-date-range-picker>
  <mat-menu
    class="hidden-on-mobile"
    #guestsMenu="matMenu"
    xPosition="before"
    yPosition="below"
  >
    <div class="guests-menu-wrapper flex column space-between gap1 pi1">
      <div class="guests-item-container">
        <h4>Adults</h4>
        <span class="fs14">Ages 13 or above</span>
        <div class="plus-minus-btns-container flex align-center space-between">
          <button
            *ngIf="searchParam && searchParam.guests"
            class="btn btn-subtract bgc-transparent border3 adults"
            (click)="updateGuests($event, -1)"
            [disabled]="searchParam.guests.adults <= 0"
            [class.disabled]="searchParam.guests.adults <= 0"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28"></path>
            </svg>
          </button>
          <span *ngIf="searchParam && searchParam.guests">{{
            searchParam.guests.adults
          }}</span>
          <button
            class="btn btn-add bgc-transparent border3 adults"
            (click)="updateGuests($event, 1)"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28m-14-14v28"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="guests-item-container">
        <h4>Children</h4>
        <span class="fs14">Ages 2-12</span>
        <div class="plus-minus-btns-container flex align-center space-between">
          <button
            *ngIf="searchParam && searchParam.guests"
            class="btn btn-subtract bgc-transparent border3 children"
            (click)="updateGuests($event, -1)"
            [disabled]="searchParam.guests.children <= 0"
            [class.disabled]="searchParam.guests.children <= 0"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28"></path>
            </svg>
          </button>
          <span *ngIf="searchParam && searchParam.guests">{{
            searchParam.guests.children
          }}</span>
          <button
            class="btn btn-add bgc-transparent border3 children"
            (click)="updateGuests($event, 1)"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28m-14-14v28"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="guests-item-container">
        <h4>Infants</h4>
        <span class="fs14">Under 2</span>
        <div class="plus-minus-btns-container flex align-center space-between">
          <button
            *ngIf="searchParam && searchParam.guests"
            class="btn btn-subtract bgc-transparent border3 infants"
            (click)="updateGuests($event, -1)"
            [disabled]="searchParam.guests.infants <= 0"
            [class.disabled]="searchParam.guests.infants <= 0"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28"></path>
            </svg>
          </button>
          <span *ngIf="searchParam && searchParam.guests">{{
            searchParam.guests.infants
          }}</span>
          <button
            class="btn btn-add bgc-transparent border3 infants"
            (click)="updateGuests($event, 1)"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 12px;
                width: 12px;
                stroke: currentcolor;
                stroke-width: 5.33333;
                overflow: visible;
              "
            >
              <path d="m2 16h28m-14-14v28"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </mat-menu>
  <div class="options-btns-container flex space-between hidden-on-mobile">
    <a class="btn btn-options btn-mode no-border" routerLink="/stay/edit">
      RentRoam your home
    </a>
    <!-- TODO: work on translation support -->
    <!-- <button class="btn btn-options btn-lang">
      <fa-icon
        class="icon globe-icon fs14 fw800"
        [icon]="faGlobe"
      ></fa-icon></button>
    -->
    <button
      mat-button
      #loginSignupTrigger="matMenuTrigger"
      [matMenuTriggerFor]="loginSignup"
      class="btn btn-options btn-user flex align-center shadow border2"
      (click)="openLoginSignup()"
    >
      <fa-icon class="icon bars-icon fs14 fw800" [icon]="faBars"></fa-icon>
      <ng-container *ngIf="!loggedInUser; else userImg">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="display: block; height: 100%; width: 2em; fill: currentcolor"
        >
          <path
            d="m16 .7c-8.437 0-15.3 6.863-15.3 15.3s6.863 15.3 15.3 15.3 15.3-6.863 15.3-15.3-6.863-15.3-15.3-15.3zm0 28c-4.021 0-7.605-1.884-9.933-4.81a12.425 12.425 0 0 1 6.451-4.4 6.507 6.507 0 0 1 -3.018-5.49c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5a6.513 6.513 0 0 1 -3.019 5.491 12.42 12.42 0 0 1 6.452 4.4c-2.328 2.925-5.912 4.809-9.933 4.809z"
          ></path>
        </svg>
      </ng-container>
      <ng-template #userImg>
        <div class="img-container text-center">
          <img
            class="full-width"
            imgError
            [src]="loggedInUser!.imgUrl"
            alt="User Image"
          />
        </div>
      </ng-template>
    </button>
  </div>
  <mat-menu
    #loginSignup="matMenu"
    yPosition="below"
    (closed)="onCloseLoginSignup()"
  >
    <ng-container *ngIf="!loggedInUser; else userMenuOptions">
      <button
        mat-menu-item
        (click)="changeModalType('Login')"
        class="btn-login"
      >
        Log in
      </button>
      <button
        mat-menu-item
        (click)="changeModalType('Sign up')"
        class="btn-signup"
      >
        Sign up
      </button>
    </ng-container>
    <ng-template #userMenuOptions>
      <a routerLink="host/dashboard"
        ><button mat-menu-item class="btn-dashboard">Dashboard</button></a
      >
      <a routerLink="trip"
        ><button mat-menu-item class="btn-my-trips">My trips</button></a
      >
      <a routerLink="{{ 'inbox/' + loggedInUser!._id }}"
        ><button mat-menu-item class="btn-my-trips">Messages</button></a
      >
      <a routerLink="{{ 'wishlist/' + loggedInUser!._id }}">
        <button mat-menu-item class="btn-wishlist">Wishlists</button>
      </a>
      <button mat-menu-item class="btn-logout" (click)="onLogout()">
        Logout
      </button>
    </ng-template>
  </mat-menu>
  <mobile-search-menu (toggleSearchClosed)="closeSearch()"></mobile-search-menu>
  <div *ngIf="modalType" class="modal-wrapper" (click)="modalType = ''">
    <dynamic-modal
      [title]="modalType"
      class="dynamic-modal modal-content"
      (closeModal)="modalType = ''"
    >
      <signup-modal
        (typeChanged)="changeModalType($event)"
        [modalType]="modalType"
      ></signup-modal>
    </dynamic-modal>
  </div>
</div>
