@import "../../app-root/app.component.scss";
:host.main-header {
  height: $header-height;
  @include for-mobile-layout {
    position: fixed;
    top: 0;
    left: 0em;
    z-index: 30;
    background-color: #fff;
    padding-block-end: 6em;
    width: 100vw;
  }
}
.wrapper {
  grid-row: 1;
  &::after {
    content: "";
    width: 110vw;
    height: 1px;
    background-color: $secondaryClr2;
    position: absolute;
    bottom: -1em;
    left: -10%;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    opacity: 0.7;
  }

  .logo-container {
    width: 125px;
    color: $prinaryClr1;
    font-weight: 700;
    cursor: pointer;
  }

  .search-bar,
  .search-menu-wrapper {
    transition: 0.65s ease-in;
  }

  .search-bar {
    display: inline-flex;
    background-color: $secondaryClr1;
    border: 1px solid $secondaryClr2;
    border-radius: 40px;
    text-align: left;
    align-items: center;
    color: $fontclr3;
    max-width: 100%;
    vertical-align: middle;
    padding-inline: 1rem;
    line-height: em(20px);
    gap: 0.6em;

    span {
      height: 24px;
      width: 1px;
      background-color: $secondaryClr2;
    }

    .btn-search {
      background: transparent;
      cursor: pointer;
      padding: 0;
      text-align: inherit;
      border: 1px solid transparent;
      border-radius: 4px;
      margin: -1px;
      height: em(48px);
      padding-inline: em(16px);
      &:first-child {
        padding-left: 8px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
      }
      &:last-of-type {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        color: $secondaryClr3;
        opacity: 0.7;
      }
    }
    .icon-container {
      background-color: $prinaryClr1;
      padding: 0.4em;
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 2em;
      color: $secondaryClr1;
      font-size: 10px;
      cursor: pointer;
    }
  }

  .search-menu-wrapper {
    position: fixed;
    top: $header-height;
    left: 0;
    height: $header-height;
    width: 100vw;
    background-color: #fff;
    z-index: 40;

    &.inactive {
      .search-overlay {
        display: none;
      }
    }

    .search-overlay {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      top: em(170px);
      left: 0;
    }

    .btn-stays {
      background-color: transparent;
    }
    .search-bar-active {
      background-color: $secondaryClr5;
      border-radius: 32px;
      border: 1px solid $secondaryClr2;
      margin-block-end: 2em;

      .btn-search {
        background-color: transparent;
        transition: 0.25s;
        border-radius: 32px;
        padding: 1em 2em;
        gap: 0.4em;

        input {
          background-color: transparent;
          border: none;
          outline: none;
        }

        &.active-btn {
          background-color: #fff;
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }

        &:last-of-type {
          padding: 1em 1em;
          gap: 1em;
          .guests-btn-txt-container {
            gap: 0.5em;
          }
        }
        &:hover {
          background-color: $secondaryClr2;
        }
      }
      .icon-container {
        cursor: pointer;
        z-index: 40;
        position: relative;
        pointer-events: all;
        padding: 1.5em;
        border-radius: em(32px);
        background-size: 200% 200%;
        background-position: calc((100 - var(--mouse-x, 0)) * 1%)
          calc((100 - var(--mouse-y, 0)) * 1%);
        --mouse-x: 22.6171875;
        --mouse-y: 52.083333333333336;
        background-color: #ff385c;
        background-image: radial-gradient(
          circle at center,
          #ff385c 0%,
          #e61e4d 27.5%,
          #e31c5f 40%,
          #d70466 57.5%,
          #bd1e59 75%,
          #bd1e59 100%
        );
        gap: 0.5em;
        color: $fontclr2;
        margin: 0;
        margin-block: -1em;
        padding-block: 1.2em;
        padding-inline: 2em;
      }
    }
  }
  .mat-btns-container {
    background-color: #bd1e59;
    position: absolute;
    top: 7em;
    left: 26em;
    min-width: 300px;
    gap: 11em;
    opacity: 0;
    pointer-events: none;
    & :first-child {
      margin-inline-end: 3em;
    }
  }
  .options-btns-container {
    .btn-options {
      background-color: inherit;
      padding: 0.7em;
      &:hover {
        background-color: $secondaryClr4;
      }
      &:last-child {
        background-color: $secondaryClr1;
        border: 1px solid $secondaryClr2;
        border-radius: 40px;
        padding: 5px 5px 5px 12px;
        height: em(42px);
        gap: 0.6em;
      }
    }
  }
  @include for-mobile-layout {
    padding-block: 30px;
    padding-inline: 1em;
    &::after {
      opacity: 0;
    }

    .search-bar {
      gap: 1em;
      width: 100%;
      display: grid;
      grid-template-columns: 2em 1fr 1fr 2em;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "search-icon anywhere anywhere btn-filter"
        "search-icon anyweek guests btn-filter";
      place-items: center;
      .btn-search {
        justify-self: start;
        padding-block: 0;
        height: auto;
        margin-block-start: -2.5em;
        margin-block-end: -1em;
      }
      .anywhere {
        grid-area: anywhere;
        font-size: 14px;
        align-self: end;
        padding-block-start: 2.5em;
        // margin-block-end: -0.5em;
      }
      .anyweek {
        grid-area: anyweek;
        font-size: 12px;
        opacity: 0.7;
        font-weight: 500;
        position: relative;
        &::after {
          content: "";
          width: 3px;
          height: 3px;
          right: -0.5em;
          top: 0.5em;
          opacity: 0.6;
          background-color: black;
          position: absolute;
        }
      }
      .guests {
        grid-area: guests;
        font-size: 12px;
        transform: translateX(-50%);
        font-weight: 500;
      }
      .icon-container {
        justify-self: start;
        grid-area: search-icon;
        color: $secondaryClr3;
        background-color: transparent;
      }
      .btn-filter {
        grid-area: btn-filter;
        border: 1px solid $secondaryClr3;
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 2em;
      }
    }
  }
}
.region-btns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  button {
    span {
      white-space: nowrap;
    }
    img {
      border-radius: 1em;
      border: 1px solid $secondaryClr3;
      transition: 0.25s;
    }
    &:hover {
      img {
        border: 1.5px solid black;
      }
    }
  }
}
.loc-suggestions-container {
  gap: 1em;
  .btn-suggestion {
    background-color: transparent;
    padding: 1em;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
  .img-container {
    border-radius: 1em;
    background-color: $secondaryClr2;
    padding: 1em;
    opacity: 0.7;
  }
}
.guests-menu-wrapper {
  gap: 1em;
  padding-inline: 1em;
  .guests-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-block: 1em;
    &:not(:last-child) {
      border-bottom: 1px solid $secondaryClr2;
    }

    & > span {
      grid-row: 2;
      opacity: 0.6;
      font-size: 14px;
    }
    .plus-minus-btns-container {
      grid-row: 1/-1;
      grid-column: 3;
      .btn {
        width: em(24px);
        height: em(24px);
        border-radius: 50%;
        border: 1px solid $secondaryClr3;
        background-color: transparent;
        padding: 5px;
        &.disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }
  }
}
.inactive {
  position: relative;
  transform: translateY(-200%);
  scale: 0.6;
  opacity: 0;
  pointer-events: none;
}
