@import "../../app-root/app.component.scss";
:host.main-header {
  height: $header-height;
  @include for-mobile-layout {
    position: fixed;
    top: 0;
    left: 0em;
    z-index: 30;
    background-color: #fff;
    padding-block-end: 6em;
    width: 100vw;
  }
}
.wrapper {
  grid-row: 1;
  &::after {
    content: "";
    width: 110vw;
    height: 1px;
    background-color: $secondaryClr2;
    position: absolute;
    bottom: -1em;
    left: -10%;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    opacity: 0.7;
  }

  .logo-container {
    width: 125px;
    color: $prinaryClr1;
    font-weight: 700;
    cursor: pointer;
  }

  .search-bar {
    display: inline-flex;
    background-color: $secondaryClr1;
    border: 1px solid $secondaryClr2;
    border-radius: 40px;
    text-align: left;
    align-items: center;
    color: $fontclr3;
    max-width: 100%;
    vertical-align: middle;
    padding-inline: 1rem;
    line-height: em(20px);
    gap: 0.6em;

    span {
      height: 24px;
      width: 1px;
      background-color: $secondaryClr2;
    }

    .btn-search {
      background: transparent;
      cursor: pointer;
      padding: 0;
      text-align: inherit;
      border: 1px solid transparent;
      border-radius: 4px;
      margin: -1px;
      height: em(48px);
      padding-inline: em(16px);
      &:first-child {
        padding-left: 8px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
      }
      &:last-of-type {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        color: $secondaryClr3;
        opacity: 0.7;
      }
    }
    .icon-container {
      background-color: $prinaryClr1;
      padding: 0.4em;
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 2em;
      color: $secondaryClr1;
      font-size: 10px;
      cursor: pointer;
    }
  }
  .options-btns-container {
    .btn-options {
      background-color: inherit;
      padding: 0.7em;
      &:hover {
        background-color: $secondaryClr4;
      }
      &:last-child {
        background-color: $secondaryClr1;
        border: 1px solid $secondaryClr2;
        border-radius: 40px;
        padding: 5px 5px 5px 12px;
        height: em(42px);
        gap: 0.6em;
      }
    }
  }
  @include for-mobile-layout {
    padding-block: 30px;
    padding-inline: 1em;
    &::after {
      opacity: 0;
    }

    .search-bar {
      gap: 1em;
      width: 100%;
      display: grid;
      grid-template-columns: 2em 1fr 1fr 2em;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "search-icon anywhere anywhere btn-filter"
        "search-icon anyweek guests btn-filter";
      place-items: center;
      .btn-search {
        justify-self: start;
        padding-block: 0;
        height: auto;
        margin-block-start: -2.5em;
        margin-block-end: -1em;
      }
      .anywhere {
        grid-area: anywhere;
        font-size: 14px;
        align-self: end;
        padding-block-start: 2.5em;
        // margin-block-end: -0.5em;
      }
      .anyweek {
        grid-area: anyweek;
        font-size: 12px;
        opacity: 0.7;
        font-weight: 500;
        position: relative;
        &::after {
          content: "";
          width: 3px;
          height: 3px;
          right: -0.5em;
          top: 0.5em;
          opacity: 0.6;
          background-color: black;
          position: absolute;
        }
      }
      .guests {
        grid-area: guests;
        font-size: 12px;
        transform: translateX(-50%);
        font-weight: 500;
      }
      .icon-container {
        justify-self: start;
        grid-area: search-icon;
        color: $secondaryClr3;
        background-color: transparent;
      }
      .btn-filter {
        grid-area: btn-filter;
        border: 1px solid $secondaryClr3;
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 2em;
      }
    }
  }
}
