@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";
.chat-list-wrapper {
  li {
    cursor: pointer;
    border-block-start: 1px solid $secondaryClr2;
    &:hover,
    &.active {
      background-color: darken(#fff, 10);
      @include for-mobile-layout {
        background-color: transparent;
      }
    }
    &:last-of-type {
      border-block-end: 1px solid $secondaryClr2;
    }
  }
}
