@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";

.filter-modal {
  width: 100%;
  margin-block-start: 2em;
  @include for-mobile-layout {
    padding-block-end: rem(74px);
  }
  .modal-content-wrapper {
    margin-block-end: 1em;
    gap: 2em;
    overflow-y: scroll;
  }
  form {
    gap: 1em;
    border-bottom: 1px solid #ebebeb;
    padding-block-end: 1em;
  }
  .price-filter {
    .chart-item-container {
      width: 70%;
      transform: rotateX(180deg);
      gap: 1px;
      position: relative;
      height: 100%;
      bottom: em(-39px);
      .slider-chart-item {
        background-color: $fontClr3;
        width: 20px;
        transition: opacity 0.3s ease;
        &.opacity {
          opacity: 0.6;
        }
      }
    }
  }

  .custom-slider {
    width: 70%;
  }

  & > * {
    padding-inline: 2em;
  }
  .form-heading-container {
    align-self: start;
  }

  h2,
  h3 {
    margin: 0;
    padding: 0;
    color: $fontClr3;
  }

  .btn.active {
    background-color: rgb(34, 34, 34);
    color: #fff;
  }

  .txt-input-container {
    width: 100%;
    gap: 1em;
    & > span {
      font-size: 40px;
    }
    .range-input-label {
      display: grid;
      width: 100%;
      border: 1px solid black;
      opacity: 0.6;
      grid-template-columns: 1em 1fr;
      gap: 0.5em;
      align-items: end;
      justify-content: center;
      justify-items: center;
      border-radius: 0.5em;
      padding: 0.5em 0.3em;

      &.focus {
        outline: 2px solid black;
      }

      span {
        opacity: 1;
        grid-row: 2;
        grid-column: 1;
        justify-self: end;
        &:first-of-type {
          align-self: start;
          justify-self: start;
          grid-row: 1;
          grid-column: 1/-1;
        }
      }
      input {
        opacity: 1;
        color: $fontClr3;
        grid-row: 2;
        grid-column: 2;
        width: 100%;
        border: none;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;

        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }

  form.property-type {
    .property-btns-container {
      padding-inline-end: 12em;
      gap: 1em;
      .btn {
        flex-basis: 30%;
        gap: 1em;
        border: 1px solid black;
        border-color: $secondaryClr2;
        background-color: $secondaryClr1;
        padding: em(16px);
        border-radius: em(12px);
        align-items: start;
        &:hover {
          outline: 1px solid black;
        }

        span:first-child {
          margin-inline-end: em(16px);
          margin-block-end: em(12px);
          width: em(32px);
          height: em(32px);
        }
      }
    }
  }

  .beds-bath-btns-container {
    padding-inline-end: 7em;

    .btn.btn-form-filter {
      padding: 10px 20px;
      border: 1px solid;
      border-radius: em(30px);
      outline: none;
      min-width: em(59px);
      &:not(.active) {
        background-color: transparent;
        border-color: $secondaryClr2;
        &:hover {
          color: #000000;
          border-color: #000000;
        }
      }
    }
  }

  .amenities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 1.5em;
    button {
      place-self: start;
      background-color: transparent;
      text-decoration: underline;
    }
    .amenity-filter-item {
      gap: 1em;
      cursor: pointer;
      &:hover {
        .custom-checkbox {
          opacity: 1;
          border-color: black;
        }
      }
      .custom-checkbox {
        width: 24px;
        height: 24px;
        border: 1px solid;
        border-color: #b0b0b0;
        border-radius: 3px;
        opacity: 0.6;
        position: relative;
        display: grid;
        place-items: center;
        svg {
          color: #fff;
        }
      }
      input:checked + .custom-checkbox {
        background-color: #000000;
        opacity: 1;

        // &::after {
        //   content: "✔";
        //   position: absolute;
        //   top: 0;
        //   width: 1em;
        //   height: 1em;
        //   color: #fff;
        //   background-color: inherit;
        // }
      }
    }
  }

  .superhost-container {
    margin-block-start: 1em;
    p {
      margin-block-start: 5px;
      opacity: 0.7;
    }
  }

  &-footer {
    border-top: 1px solid #ebebeb;
    padding-block: em(14px);
    padding-block-end: 4em;
    .btn-clear {
      border-width: 1px;
      border-style: solid;
      transition: box-shadow 0.2s ease, transform 0.1s ease;
      border: none;
      background: transparent;
      margin-left: -10px;
      margin-right: -10px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
      border-radius: 8px;
      text-decoration: underline;
      color: $fontClr3;
      font-size: 1rem;
      font-weight: 600;
      &:hover {
        background-color: darken(#fff, 2);
      }
    }
    .btn-submit {
      border-radius: 8px;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 24px;
      padding-right: 24px;
      &:hover {
        background-color: darken(rgb(34, 34, 34), 12);
      }
    }
  }
  @include for-mobile-layout {
    height: 90vh;
    .property-btns-container {
      white-space: nowrap;
      padding-inline: 0;
      gap: 2em;
      .btn {
        padding-inline: 2em;
      }
    }
    .beds-bath-btns-container {
      gap: 1em;
    }
    &-footer {
      padding-block: 1em;
    }
  }
}
