<p class="map-active-place-num fs20 fw500">
  Over
  {{ stays!.length < 1000 ? stays!.length : "1000+" }}
  places
</p>
<ng-container
  *ngIf="staysWithDistance && staysWithDistance.length; else regularStays"
>
  <ul class="stay-list clean-list">
    <a
      *ngFor="let stay of staysWithDistance"
      routerLink="{{ stay._id }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <stay-preview
        [areMonthsDifferent]="areMonthsDifferent"
        [endMonth]="endMonth"
        [currDate]="currDate"
        [stay]="stay"
        [userLoc]="userLoc"
        [distances]="distances"
      ></stay-preview>
    </a>
  </ul>
</ng-container>

<ng-template #regularStays>
  <ul class="stay-list clean-list">
    <a
      *ngFor="let stay of stays"
      routerLink="{{ stay._id }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <stay-preview
        [areMonthsDifferent]="areMonthsDifferent"
        [endMonth]="endMonth"
        [currDate]="currDate"
        [stay]="stay"
        [userLoc]="userLoc"
        [distances]="distances"
      ></stay-preview>
    </a>
  </ul>
</ng-template>

<div
  *ngIf="!stays!.length"
  class="no-stays-container flex column space-between align-start"
>
  <h3 class="fw700 fs24">No exact matches</h3>
  <h4>
    Try changing or removing some of your filters or adjusting your search area.
  </h4>
  <button (click)="onClearFilter()" class="btn btn-remove-filters flex column">
    <span>Remove all filters</span>
    <span>+360 stays</span>
  </button>
</div>
