<p *ngIf="stays && stays.length" class="map-active-place-num fs20 fw500">
  Over
  {{ stays!.length < 1000 ? stays!.length : "1000+" }}
  places
</p>

<ul class="stay-list clean-list">
  <a
    class="stay-link"
    *ngFor="let stay of stays; trackBy: trackByService.byId"
    routerLink="/stay/{{ stay._id }}"
    [queryParams]="{ stayFilter: stayFilter, search: searchParam }"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <stay-preview
      [class.inside-wishlist-details]="isInsideWishlistDetails"
      [areMonthsDifferent]="areMonthsDifferent"
      [endMonth]="endMonth"
      [currDate]="currDate"
      [stay]="stay"
      [userLoc]="userLoc"
      [distances]="distances"
    ></stay-preview>
  </a>
</ul>
<div
  *ngIf="!stays && !searchParam && !stayFilter"
  class="no-stays-container flex column space-between align-start"
>
  <h3 class="fw700 fs24">Please wait while we look for Yout stays</h3>
</div>
<div
  *ngIf="stays && !stays!.length"
  class="no-stays-container flex column space-between align-start"
>
  <h3 class="fw700 fs24">No exact matches</h3>
  <h4>
    Try changing or removing some of your filters or adjusting your search area.
  </h4>
  <button (click)="onClearFilter()" class="btn btn-remove-filters flex column">
    <span>Remove all filters</span>
    <span>+360 stays</span>
  </button>
</div>
