@import "../../app-root/app.component.scss";
:host.inside-wishlist-details {
  .stay-list {
    gap: 1em;
    grid-template-columns: repeat(
      var(--breakpoint-grid-columns),
      var(--stay-preview-width)
    );
    @include for-mobile-layout {
      width: 100%;
      padding-inline: 1em;
      margin-block-start: 1em;
      grid-template-columns: repeat(var(--breakpoint-grid-columns), 20em);
    }
  }
}
.map-active-place-num {
  display: none;
}

.stay-list {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(
    var(--breakpoint-grid-columns),
    minmax(var(--stay-preview-width), 1fr)
  );
  column-gap: em(24px);
  row-gap: em(40px);
  grid-auto-rows: minmax(min-content, max-content);
  a {
    width: fit-content;
  }
  @include for-mobile-layout {
    overflow: auto;
    margin-block-start: calc($header-height + $header-height + 1.7em);
    padding-inline: 1em;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}

.no-stays-container {
  gap: 1em;
  h3 {
    color: #333;
  }
  .btn.btn-remove-filters {
    background-color: transparent;
    border: 1px solid $secondaryClr3;
    border-radius: 5px;
    &:hover {
      outline: 1px solid #333;
    }
  }
}
