@import "../../app-root/app.component.scss";
.mobile-footer-wrapper {
  position: fixed;
  top: calc(100vh - 84px);
  background-color: #fff;
  height: $header-height;
  border-block-start: 1px solid $secondaryClr2;
  .active {
    color: $primaryClr1;
  }
  .btn-login-menu {
    border: none;
  }
}
