@import "../../app-root/app.component.scss";
.mobile-footer-wrapper {
  top: calc(100vh - 64px);
  position: fixed;
  background-color: #fff;
  height: $header-height;
  .btn-login-menu {
    border: none;
  }
}
