<google-map
  height="100%"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)"
>
  <map-marker
    *ngFor="let _marker of markers; index as i; trackBy: trackByService.byIdx"
    [position]="_marker.position"
    #marker="mapMarker"
    [icon]="_marker.pillIcon"
    (mapClick)="openInfoWindow(marker, _marker.stay)"
  >
  </map-marker>
  <map-info-window *ngIf="selectedStay" #infoWindow>
    <a [routerLink]="['/stay', selectedStay._id]">
      <stay-preview [stay]="selectedStay" />
    </a>
  </map-info-window>
</google-map>
