<section class="wishlist-details-wrapper">
  <section class="stay-list-container">
    <header class="wishlist-details-header flex column space-between gap1">
      <div class="btns-container flex space-between">
        <button class="btn btn-back" (click)="onBack()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            aria-hidden="true"
            role="presentation"
            focusable="false"
            style="
              display: block;
              fill: none;
              height: 16px;
              width: 16px;
              stroke: currentcolor;
              stroke-width: 4;
              overflow: visible;
            "
          >
            <g fill="none">
              <path d="M4 16h26M15 28 3.7 16.7a1 1 0 0 1 0-1.4L15 4"></path>
            </g>
          </svg>
        </button>
        <button class="btn btn-edit" (click)="onEdit()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            aria-hidden="true"
            role="presentation"
            focusable="false"
            style="
              display: block;
              height: 18px;
              width: 18px;
              fill: currentcolor;
            "
          >
            <path
              d="M3 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm5 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm5 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"
            ></path>
          </svg>
        </button>
      </div>
      <h1 class="fs24 fw500">{{ wishlist?.name }}</h1>
    </header>
    <stay-list
      class="inside-wishlist-details"
      [stays]="stays$ | async"
      [currDate]="currDate"
      [searchParam]="searchParam"
      [stayFilter]="stayFilter"
    ></stay-list>
  </section>
  <section *ngIf="!isMobile" class="map-container hidden-on-mobile">
    <google-map-cmp [zoom]="2" [stays]="stays$ | async"></google-map-cmp>
  </section>
</section>
<div *ngIf="isModalOpen" class="modal-wrapper">
  <dynamic-modal
    [title]="'Settings'"
    class="dynamic-modal modal-content"
    (closeModal)="toggleModal()"
  >
    <wishlist-edit
      (editFinished)="recieveUserData($event)"
      [isWishlistDetails]="true"
      [user]="user!"
      [isModal]="true"
      [wishlistName]="wishlist!.name"
      [wishlist]="wishlist!"
    ></wishlist-edit>
  </dynamic-modal>
</div>
