<section class="wishlist-details-wrapper">
  <section class="stay-list-container">
    <header class="wishlist-details-header flex column space-between gap1">
      <div class="btns-container">
        <button class="btn btn-back">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            aria-hidden="true"
            role="presentation"
            focusable="false"
            style="
              display: block;
              fill: none;
              height: 16px;
              width: 16px;
              stroke: currentcolor;
              stroke-width: 4;
              overflow: visible;
            "
          >
            <g fill="none">
              <path d="M4 16h26M15 28 3.7 16.7a1 1 0 0 1 0-1.4L15 4"></path>
            </g>
          </svg>
        </button>
      </div>
      <h1 class="fs24 fw500">{{ wishlist?.name }}</h1>
    </header>
    <stay-list
      class="inside-wishlist-details"
      [stays]="stays$ | async"
      [currDate]="currDate"
    ></stay-list>
  </section>
  <section class="map-container">
    <google-map-cmp [zoom]="2" [stays]="stays$ | async"></google-map-cmp>
  </section>
</section>
