@import "../../app-root/app.component.scss";
.label-loader-wrapper {
  display: grid;
  place-items: center;
  gap: 0.3em;
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .rectangle {
    width: 50px;
    height: 15px;
    border-radius: 1em;
  }

  .loader {
    animation: bgcTransition 1s linear infinite alternate;
  }

  @keyframes bgcTransition {
    0% {
      background-color: #b8b8b8;
    }

    100% {
      background-color: #ebebeb;
    }
  }
}
