@import "../../app-root/app.component.scss";
.mobile-search-menu-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  left: -110vw;
  &.active {
    left: 0;
  }
  .mobile-search-menu-header {
    align-self: start;
  }
  .mobile-search-menu-btns-container {
    width: 80%;
  }
}
