@import "../../app-root/app.component.scss";
.mobile-search-menu-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: darken(#f7f7f7, 10%);
  left: -110vw;
  pointer-events: none;
  & * {
    pointer-events: auto;
  }
  &.active {
    left: 0;

    .mobile-search-menu-footer {
      background-color: #fff;
      position: fixed;
      bottom: calc(64px - 2em);
      left: 0;
      height: 64px;
      .btn-clear {
        border: none;
      }
      .btn-search {
        padding: 1em 1.2em;
        background: linear-gradient(
          to right,
          #e61e4d 0%,
          #e31c5f 50%,
          #d70466 100%
        );
        color: #fff;
      }
    }
  }
  .mobile-search-menu-header {
    align-self: start;
    padding-block-start: 1em;
    .btn {
      border-radius: 2em;
      width: 30px;
      height: 30px;
      padding: 1em;
      margin-inline-start: 1em;
      background-color: #fff;
    }
  }
  .mobile-search-menu-btns-container {
    width: 95%;
    .btn {
      background-color: #fff;
      &.btn-toggle-search {
        padding: 1em;
        border-radius: 1em;
        border: none;
        &.anyweek {
          mat-calendar {
            width: 100%;
          }
        }
      }
      &.active {
        pointer-events: none;
        .loc-menu-wrapper {
          width: 100%;
          input {
            z-index: 100;
            outline: none;
            border: 1px solid $secondaryClr6;
            padding-inline: em(46px);
            padding-block: em(20px);
          }
          .region-btns-container {
            overflow-x: auto;
            button {
              background-color: #fff;
              pointer-events: auto;
              img {
                width: em(150px);
                max-width: none;
                border-radius: 1em;
              }
            }
          }
        }
        .guests-menu-wrapper {
          padding: 1em;
          .txt-container {
            span {
              opacity: 0.6;
            }
          }
          .guests-item-container {
            &:not(:last-of-type) {
              margin-block-end: 1em;
              position: relative;
              &::after {
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: em(-10px);
                background-color: $secondaryClr3;
                opacity: 0.7;
              }
            }
            .btn {
              padding: 0.5em;
              border-radius: 2em;
              opacity: 0.6;
              &.disabled {
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}
.loc-search-menu {
  background-color: #fff;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 700px;
  z-index: 101;

  .search-icon-container {
    position: absolute;
    top: 2.5em;
    left: 2.25em;
  }
  input {
    margin-block-start: 1.5em;
    margin-inline: 0.5em;
    outline: none;
    border: none;
    border-radius: 0.5em;
    background-color: $secondaryClr4;
    padding-inline: em(46px);
    padding-block: em(20px);
  }
  .loc-suggestions-container {
    .btn-suggestion {
      background-color: transparent;
      padding: 1em;
      &:hover {
        background-color: rgb(247, 247, 247);
      }
    }
    .img-container {
      border-radius: 1em;
      background-color: $secondaryClr2;
      padding: 1em;
      opacity: 0.7;
    }
  }
}
