@import "../../app-root/app.component.scss";
:host {
  &:has(.is-login-page) {
    display: grid;
    place-items: center;
  }

  .signup-modal-wrapper {
    width: 500px;
    padding: 1em;

    &.is-login-page {
      border-radius: 1em;
      border: 1px solid $secondaryClr2;
      margin-block-start: 1em;
    }
    .signup-modal-header {
      color: $fontClr3;
      .btn {
        border: none;
        text-underline-offset: em(3px);
        text-decoration-skip-ink: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
    .simple-form {
      button[type="submit"] {
        background-size: 200% 200%;
        background: linear-gradient(
          to right,
          #e61e4d 0%,
          #e31c5f 50%,
          #d70466 100%
        );
        transition: opacity 1.25s;
        color: $secondaryClr1;
        &:hover {
          background: linear-gradient(
            to left,
            #e61e4d 0%,
            #e31c5f 50%,
            #d70466 100%
          );
        }
      }
    }

    .or {
      display: flex;
      align-items: center;
      &::after {
        content: "";
        height: 1px;
        width: 220px;
        background-color: $secondaryClr2;
        margin-inline-start: 1rem;
      }
      &::before {
        content: "";
        height: 1px;
        width: 220px;
        background-color: $secondaryClr2;
        margin-inline-end: 1rem;
      }
    }

    .sign-in-btns-container {
      padding: 1em;
      .btn {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 2fr 3fr;
        .icon-container {
          justify-self: start;
        }
        .txt-container {
          justify-self: start;
          text-wrap: nowrap;
        }
      }
    }
    @include for-mobile-layout {
      &.is-login-page {
        position: fixed;
        top: 0;
        height: calc(100vh - 84px - 3em);
        width: calc(100vw - 3em);
        background-color: #fff;
        z-index: 100;
        border: none;
        gap: 2em;
        & > *.flex {
          gap: 2em;
        }
      }
    }
  }
}
