<section
  class="signup-modal-wrapper flex column modal-content-wrapper flex column"
>
  <header class="signup-modal-header">
    <h2 class="fs22 fw500">Welcome to RentRoam</h2>
  </header>

  <form class="simple-form full-width">
    <input
      type="text"
      [(ngModel)]="credentials.name"
      name="name"
      placeholder="Enter name"
    />
    <input
      type="password"
      [(ngModel)]="credentials.password"
      name="password"
      placeholder="Enter password"
    />
    <button
      class="btn btn-continue fw600"
      type="submit"
      (click)="handleLogIn()"
    >
      Continue
    </button>
  </form>
  <div class="or text-center fs12">or</div>
  <div class="sign-in-btns-container flex column space-between gap-point5">
    <button class="btn btn-facebook">
      <span class="icon-container"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="display: block; height: 20px; width: 20px"
        >
          <path fill="#1877F2" d="M32 0v32H0V0z"></path>
          <path
            fill="#FFF"
            d="M22.94 16H18.5v-3c0-1.27.62-2.5 2.6-2.5h2.02V6.56s-1.83-.31-3.58-.31c-3.65 0-6.04 2.21-6.04 6.22V16H9.44v4.63h4.06V32h5V20.62h3.73l.7-4.62z"
          ></path></svg
      ></span>
      <span class="txt-container">continue with Facebook</span>
    </button>
    <button class="btn btn-google">
      <span class="icon-container"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="display: block; height: 20px; width: 20px"
        >
          <path
            fill="#4285f4"
            d="M24.12 25c2.82-2.63 4.07-7 3.32-11.19H16.25v4.63h6.37A5.26 5.26 0 0 1 20.25 22z"
          ></path>
          <path
            fill="#34a853"
            d="M5.62 21.31A12 12 0 0 0 24.12 25l-3.87-3a7.16 7.16 0 0 1-10.69-3.75z"
          ></path>
          <path
            fill="#fbbc02"
            d="M9.56 18.25c-.5-1.56-.5-3 0-4.56l-3.94-3.07a12.08 12.08 0 0 0 0 10.7z"
          ></path>
          <path
            fill="#ea4335"
            d="M9.56 13.69c1.38-4.32 7.25-6.82 11.19-3.13l3.44-3.37a11.8 11.8 0 0 0-18.57 3.43l3.94 3.07z"
          ></path></svg
      ></span>

      <span class="txt-container">continue with Google</span>
    </button>
    <button class="btn btn-email">
      <span class="icon-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="display: block; height: 20px; width: 20px; fill: currentcolor"
        >
          <path
            d="M30.51 5.88A5.06 5.06 0 0 0 26 3H6a5.06 5.06 0 0 0-4.51 2.88A4.94 4.94 0 0 0 1 8v16a5 5 0 0 0 5 5h20a5 5 0 0 0 5-5V8a4.94 4.94 0 0 0-.49-2.12ZM6 5h20a2.97 2.97 0 0 1 1.77.6L17.95 14a2.98 2.98 0 0 1-3.9 0L4.23 5.6A2.97 2.97 0 0 1 6 5Zm23 19a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V8a2.97 2.97 0 0 1 .1-.74l9.65 8.27a4.97 4.97 0 0 0 6.5 0l9.65-8.27A2.97 2.97 0 0 1 29 8Z"
          ></path>
        </svg>
      </span>
      <span class="txt-container">continue with email</span>
    </button>
  </div>
</section>
