@import "../../app-root/app.component.scss";
.trip-index-wrapper {
  border-radius: 1em;

  background-color: $secondaryClr2;
  header > * {
    background-color: #fff;
    border-radius: 1em;
  }

  .trip-cmps-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
  }
}
