<ul class="order-list flex column gap1 pbs1 pi0-5">
  <header class="order-list-table-header dashboard-table-layout">
    <h4 class="fw500 fs18 mb1">Buyer</h4>
    <h4 class="fw500 fs18 mb1">Stay name</h4>
    <h4 class="fw500 fs18 mb1">Date</h4>
    <h4 class="fw500 fs18 mb1">Price</h4>
    <h4 class="fw500 fs18 mb1">Status</h4>
  </header>

  <order-preview
    *ngFor="let order of orders; let i = index; trackBy: trackByService.byId"
    [order]="order"
    (orderStatChanged)="onOrderStatChanged($event)"
    [svg]="svg"
  ></order-preview>
</ul>
