@import "../../app-root/app.component.scss";
.order-preview-wrapper {
  .buyer-container {
    .img-container {
      width: 2em;
      .user-img {
        border-radius: 1em;
      }
    }
  }
  .order-status {
    &.pending {
      color: #ffba1e;
    }
    &.declined {
      color: #e43838;
    }
    &.approved {
      color: #4eb944;
    }
  }

  select,
  option {
    outline: 0;
    border: 1px solid $secondaryClr2;
    border-radius: 1em;
  }
}
