@import "../../app-root/app.component.scss";
.order-preview-wrapper {
  .buyer-container {
    .img-container {
      width: 2em;
      .user-img {
        border-radius: 1em;
      }
    }
  }

  select,
  option {
    outline: 0;
    border: 1px solid $secondaryClr2;
    border-radius: 1em;
  }

  @include for-mobile-layout {
    grid-template-rows: 3fr repeat(4, 1fr) 2fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
