@import "../../app-root/app.component.scss";
.dynamic-modal {
  overflow-y: hidden;
  height: 100%;

  @include for-normal-layout {
    max-height: 500px;
  }
}
.modal-content {
  max-height: 100%;
  @include for-normal-layout {
  }
}
header {
  display: grid;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  min-height: 64px;
  .btn {
    background-color: inherit;
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin-inline-start: 1em;
    border: none;
    background: transparent;
    transition: transform 0.25s;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      width: 32px;
      height: 32px;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
    &:hover {
      color: #000000;

      &::before {
        background: #f7f7f7;
      }
    }

    svg {
      display: block;
      fill: none;
      height: 16px;
      width: 16px;
      stroke: currentcolor;
      stroke-width: 3;
      overflow: visible;
      z-index: 20;
    }
  }
  h1 {
    grid-row: 1;
    grid-column: 2;
    justify-self: start;
    color: $fontclr3;
  }
}
