<div
  ngClass="{{ isModal ? 'for-modal' : '' }}"
  class="wishlist-preview-wrapper flex align-center gap1-5"
>
  <ng-container *ngIf="isModal; else normalPreviewLayout">
    <div class="img-container for-modal">
      <img
        [src]="
          wishlist.stays[0]
            ? wishlist.stays[0].thumbnail
            : 'https://a0.muscache.com/im/pictures/1366a633-171a-4592-9a51-cd4e6f46a897.jpg'
        "
      />
    </div>
    <h3 class="fw500 fs18">{{ wishlist.name }}</h3>
  </ng-container>
  <ng-template #normalPreviewLayout>
    <div class="imgs-container">
      <ng-container *ngIf="isShortList; else longList">
        <div
          class="img-container"
          *ngFor="
            let img of extraImgs | slice : 0 : 3;
            let i = index;
            trackBy: trackByService.byIdx
          "
        >
          <img [src]="img" loading="lazy" />
        </div>
      </ng-container>

      <ng-template #longList>
        <div
          class="img-container"
          *ngFor="
            let stay of wishlist.stays | slice : 0 : 3;
            let i = index;
            trackBy: trackByService.byId
          "
        >
          <img [src]="stay.thumbnail" loading="lazy" />
        </div>
      </ng-template>
    </div>
    <h3 class="fw500">{{ wishlist.name }}</h3>
  </ng-template>
</div>
