<section class="messages-page-wrapper">
  <ng-container class="wide-layout hidden-on-mobile">
    <aside class="inbox hidden-on-mobile">
      <h3 class="dark-font fw500 p1">Inbox</h3>
      <chat-list
        (setCurrChat)="setCurrChat($event)"
        [user]="user"
        [orders]="orders"
        [currChat]="currChat"
      ></chat-list>
    </aside>
    <section class="main-chat flex column shadow hidden-on-mobile">
      <div *ngIf="currChat" class="msg-list-container full-width">
        <msg-list
          [order]="currChat"
          [user]="user"
          [msgs]="currChat.msgs"
        ></msg-list>
      </div>
      <div
        *ngIf="currChat"
        class="chat-edit-container flex auto-center full-width"
      >
        <chat-edit
          class="full-width"
          (orderUpdated)="updateCurrChat($event)"
          [user]="user"
          [order]="currChat"
        ></chat-edit>
      </div>
    </section>
    <aside *ngIf="currChat" class="order-details-wrapper hidden-on-mobile">
      <h3 class="dark-font fw500 p1">Order details</h3>
      <trip-details [trip]="currChat"></trip-details>
    </aside>
  </ng-container>
  <section class="narrow-layout show-on-mobile">
    <section *ngIf="currChat" class="inbox">
      <h3 class="dark-font fw500 p1">Inbox</h3>
      <chat-list
        (setCurrChat)="navToChat($event)"
        [user]="user"
        [orders]="orders"
        [currChat]="currChat"
      ></chat-list>
    </section>
  </section>
</section>
