@import "../../app-root/app.component.scss";
.messages-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  height: 100%;
  overflow: hidden;
  & > * {
    border-inline: 1px solid $secondaryClr3;
  }

  .main-chat {
    height: calc(100dvh - $header-height);

    .msg-list-container {
      min-height: 85%;
    }
    .chat-edit-container {
      border-block-start: 1px solid $secondaryClr3;
      height: 100%;
      padding: 0;
    }
  }
  @include for-mobile-layout {
    grid-template-columns: 1fr;
    .main-chat {
      height: 100%;
      padding-block-end: 6em;
      .chat-edit-container {
        padding: 0;
      }
    }
  }
}
