* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: $fontclr1;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-break: strict;
  font-family: Circular, -apple-system, BlinkMacSystemFont, roboto,
    Helvetica neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  & > * {
    height: 100%;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;

  * {
    pointer-events: none;
  }
}

input[type="text"] {
  font-family: inherit;
  text-align: inherit;
  border-radius: 1em;

  padding: em(8px) em(12px);
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}

#chart {
  height: em(500px);
}

.user-img {
  max-width: em(80px);
}

// PRICE RANGE SLIDER
.mat-mdc-slider .mdc-slider__thumb-knob {
  background-color: #fff !important;
  border-color: #fff !important;
}

.mdc-slider__track {
  height: 2px !important;
  & > * {
    height: 2px !important;
  }
}

.mat-mdc-slider .mdc-slider__track--inactive {
  background-color: #000000 !important;
  opacity: 0.6 !important;
}
.mat-mdc-slider .mdc-slider__track--active_fill {
  border-color: #000000 !important;
  height: 1px !important;
}

// TOGGLE SUPERHOST BUTTON
.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
  background: #222222 !important;
}

.mdc-switch--unselected .mdc-switch__icon--off {
  opacity: 0 !important;
}
.mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--unselected:enabled
  .mdc-switch__handle::after,
.mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--selected:enabled
  .mdc-switch__handle::after {
  background: #fff !important;
}

.mat-mdc-slide-toggle
  .mdc-switch.mdc-switch--selected:enabled
  .mdc-switch__icon {
  fill: #222222 !important;
  padding: 3px;
}

.mdc-switch__ripple {
  opacity: 0 !important;
}
#mat-mdc-slide-toggle-1 {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
