input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  padding: 0;
  line-height: 0;
  -webkit-appearance: none;
}

input[type="checkbox"]:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  border-radius: 2px;
}

input[type="checkbox"]:checked:before {
  background-color: #0079bf;
  box-shadow: none;
}

input[type="checkbox"]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 4px;
  height: 10px;
  margin-left: 5px;
  margin-top: 1px;

  border: solid white;
  border-width: 0 2px 2px 0;

  scale: 0.8;
  transform: rotate(45deg);
  transition: 0.2s ease-in-out;
  opacity: 0;
}

input[type="checkbox"]:checked:after {
  opacity: 1;
}
