@import "../../app-root/app.component.scss";
.stay-edit-wrapper {
  background-color: #f3f3f3;

  input {
    outline: 0;
    border: none;
    border-bottom: 1px solid $secondaryClr2;
    &.disabled {
      background: $secondaryClr2;

      pointer-events: none;
    }
    &[type="file"] {
      opacity: 0;
      //   pointer-events: none;
      position: absolute;
    }
    &:focus-within {
      border: none;
    }
  }
  form {
    background-color: #fff;
    border-radius: 1em;
    button[type="submit"] {
      background-color: $primaryClr1;
      color: $fontClr2;
      font-weight: 500;
    }
  }
  .host-form {
    label[for="host-img"] {
      height: 200px;
      width: 200px;
      border-radius: 7em;
      padding: 1em;
      border: 1px solid $secondaryClr3;
      display: grid;
      place-items: center;

      &.shadow {
      }
      .host-img-container {
        border: 1px solid black;
      }
    }
    .btn {
    }
  }
  .stay-edit-form {
    h3 {
      color: $fontClr3;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $secondaryClr2;
        position: absolute;
        top: -1em;
      }
    }
    .name-input-wrapper {
      input {
        width: 100%;
      }
    }

    .imgs-inputs-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: column;
      height: 350px;
      max-height: 350px;
      gap: 1em;

      .input-container {
        background-color: $secondaryClr3;
        color: $fontClr2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        &:has(img) {
          background-color: #fff;

          border: 1px solid $secondaryClr2;
        }
      }

      & :first-child {
        grid-column: 1/3;
        grid-row: 1/3;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
      }
      & :nth-child(4) {
        border-top-right-radius: 0.5em;
      }
      & :nth-child(5) {
        border-bottom-right-radius: 0.5em;
      }
    }
    .loc-inputs-wrapper {
      .input-wrapper {
        min-width: 200px;
        &.disabled {
          cursor: not-allowed;
        }
        &.address {
          width: 250px;
          input {
            width: 100%;
          }
        }
      }
    }
    .equipment-input-container {
      input {
        width: 200px;
      }
    }
    .amenities-container,
    .labels-container {
      display: grid;
      grid-template-columns: repeat(3, auto);
    }
    .btn-save-stay {
      align-self: end;
    }
  }

  @include for-mobile-layout {
    padding: 0;
    .stay-edit-form {
      .loc-inputs-wrapper {
        flex-direction: column;
        align-items: start;
      }
      .input-container {
        text-align: center;
      }
    }
  }
}
