<section class="stay-edit-wrapper p1">
  <form class="host-form p1" *ngIf="!hasHost">
    <div class="host-inputs-container flex column gap1-5 space-between">
      <label for="host-loc">
        Enter your location
        <input
          type="text"
          [(ngModel)]="stayHost.location"
          name="host-loc"
          id="host-loc"
          class="mis1"
          placeholder="e.g., New York, USA"
        />
      </label>
      <label for="host-loc">
        Upload your photo (displayed to users)
        <input type="file" name="host-img" id="host-loc"
      /></label>
      <textarea
        [(ngModel)]="stayHost.description"
        name="host-desc"
        cols="30"
        rows="10"
        class="p1"
        placeholder="Share a brief introduction or interesting facts about yourself."
      ></textarea>
    </div>
    <button type="submit" class="btn btn-next mbs1">Next</button>
  </form>
  <form
    class="stay-edit-form flex column gap1 p1"
    name="stay-edit-form"
    *ngIf="hasHost"
  >
    <div class="name-input-wrapper">
      <input
        type="text"
        name="stay-name"
        placeholder="Stay name"
        class="fs28 fw500"
        [(ngModel)]="stay.name"
      />
    </div>
    <div class="loc-inputs-wrapper flex align-center gap1">
      <input
        type="text"
        placeholder="Enter country"
        name="stay-country"
        [(ngModel)]="stay.loc.country"
      />
      <input
        type="text"
        placeholder="Enter city"
        name="stay-city"
        [(ngModel)]="stay.loc.city"
      /><input
        type="text"
        name="stay-address"
        placeholder="enter address"
        [(ngModel)]="stay.loc.address"
      />
    </div>
    <div class="imgs-inputs-container">
      <ng-container *ngFor="let img of stay.imgUrls; let i = index">
        <label
          *ngIf="!img; else imgContainer"
          [for]="'img-input-' + i"
          class="input-container input-file-label"
        >
          <span>Upload image </span>
          <input
            type="file"
            [id]="'img-input-' + i"
            (change)="onImgUpload($event, i)"
          />
        </label>
        <ng-template #imgContainer>
          <label
            [for]="'img-input-' + i"
            class="input-container input-file-label"
          >
            <img [src]="img" />
            <input
              type="file"
              [id]="'img-input-' + i"
              (change)="onImgUpload($event, i)"
            />
          </label>
        </ng-template>
      </ng-container>
    </div>
    <div class="equipment-inputs-wrapper flex align-center gap1">
      <div class="equipment-input-container">
        <label for="beds-num" class="equipment-input-label"
          ><input
            type="number"
            name="beds-num"
            placeholder="Enter number of beds"
            [(ngModel)]="stay.equipment.bedsNum"
        /></label>
      </div>
      <div class="equipment-input-container">
        <label for="bedroom-num" class="equipment-input-label"
          ><input
            type="number"
            name="bedroom-num"
            [(ngModel)]="stay.equipment.bedroomNum"
            placeholder="Enter number of bedrooms"
        /></label>
      </div>
      <div class="equipment-input-container">
        <label for="bath-num" class="equipment-input-label"
          ><input
            type="number"
            name="bath-num"
            [(ngModel)]="stay.equipment.bathNum"
            placeholder="Enter number of bathrooms"
        /></label>
      </div>
    </div>
    <div class="stay-price-stay-type-wrapper flex align-center gap1">
      <div class="price-input-container">
        <label for="stay-price" class="price-label">
          Price:
          <input
            type="number"
            name="stay-price"
            [(ngModel)]="stay.price"
          />/night</label
        >
      </div>
      <div class="room-type-container">
        <label for="stay-type">Stay type: </label>
        <select name="stay-type" [(ngModel)]="stay.roomType">
          <option value="Entire home/apt">Entire home/apt</option>
          <option value="Private room">Private room</option>
        </select>
      </div>
    </div>
    <div class="description-container flex column gap1 space-between">
      <h3 class="fs24 fw500 mbs1-5">Description</h3>
      <textarea
        name="stay-summary"
        cols="30"
        rows="10"
        class="full-width"
        [(ngModel)]="stay.summary"
      ></textarea>
    </div>
    <div class="amenities-wrapper flex column gap1 space-between">
      <h3 class="fs24 fw500 mbs1-5">Amenities</h3>
      <div class="amenities-container">
        <div
          *ngFor="let amenity of allAmenities; let i = index"
          [class]="'amenity-input-container' + ' ' + amenity"
        >
          <label [for]="amenity">
            <input
              (change)="onToggleCheckboxEntity($event, amenity, 'amenities')"
              type="checkbox"
              [checked]="stay.amenities.includes(amenity)"
              [name]="amenity"
              [id]="amenity"
            />
            {{ amenity }}
          </label>
        </div>
      </div>
    </div>
    <div class="labels-wrapper flex column gap1 space-between">
      <h3 class="fs24 fw500 mbs1-5">Labels</h3>
      <div class="labels-container">
        <div *ngFor="let label of labels" class="stay-label-input">
          <label [for]="label">
            <input
              type="checkbox"
              [id]="label"
              [checked]="stay.labels.includes(label)"
              (change)="onToggleCheckboxEntity($event, label, 'labels')"
            />
            {{ label }}
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-save-stay">Save</button>
  </form>
</section>
