<section class="stay-edit-wrapper">
  <form class="stay-edit-form flex column gap1" name="stay-edit-form">
    <ng-container
      *ngFor="
        let property of keysForEdit | slice : 1 : keysForEdit.length;
        let i = index
      "
    >
      <div
        class="{{ property }}-wrapper"
        *ngIf="
          property !== 'rate' &&
          property !== 'host' &&
          property !== 'reviews' &&
          property !== 'likedByUsers' &&
          property !== 'capacity' &&
          property !== 'type'
        "
      >
        <div
          class="input-wrapper {{ property }}"
          [ngSwitch]="determineType(emptyStay[property])"
        >
          <ng-container *ngSwitchCase="'string'">
            <ng-container [ngSwitch]="property">
              <input
                *ngSwitchDefault
                [(ngModel)]="emptyStay[property]"
                [name]="property"
                [placeholder]="property"
              />
              <textarea
                *ngSwitchCase="'summary'"
                [name]="property"
                cols="30"
                rows="10"
              ></textarea>
              <select *ngSwitchCase="'roomType'" [name]="property">
                <option value="Entire home/apt">Entire home/apt</option>
                <option value="Private room">Private room</option>
              </select>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            <label [for]="property">{{ property }}: </label>
            <input
              id="{{ property }}"
              [(ngModel)]="emptyStay[property]"
              type="number"
              [name]="property"
            />
          </ng-container>
          <ng-container *ngSwitchCase="'array'">
            <ng-container [ngSwitch]="property">
              <ng-container *ngSwitchCase="'imgUrls'">
                <div
                  class="input-container"
                  *ngFor="let img of emptyStay[property]; let i = index"
                >
                  <label class="img-label"
                    ><input type="file" name="{{ property }}_{{ i }}" hidden />
                    <span>Upload Image {{ i + 1 }}</span>
                  </label>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'amenities'">
                <div *ngFor="let amenity of allAmenities; let i = index">
                  <label class="amenity-label">
                    <input type="checkbox" name="{{ amenity }}" />
                    <span (click)="test(amenity)">{{ amenity }}</span>
                  </label>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'labels'">
                <div *ngFor="let label of labels; let i = index">
                  <label class="label-label">
                    <input type="checkbox" name="{{ label }}" />
                    <span (click)="test(label)">{{ label }}</span>
                  </label>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'object'">
            <ng-container
              *ngFor="
                let subProp of emptyStay[property] | keyvalue;
                let i = index
              "
            >
              <div
                [ngClass]="[property + ' ' + subProp.key]"
                *ngIf="
                  subProp.key !== 'countryCode' &&
                  subProp.key !== 'lat' &&
                  subProp.key !== 'lng'
                "
              >
                <ng-container [ngSwitch]="property">
                  <ng-container *ngSwitchCase="'loc'">
                    <!-- <label for="{{ subProp.key }}">{{ subProp.key }}</label> -->
                    <input
                      [(ngModel)]="emptyStay[property].subProp"
                      name="{{ property }} {{ subProp.key }}"
                      [placeholder]="'Enter ' + subProp.key"
                    />
                  </ng-container>
                  <ng-container *ngSwitchCase="'equipment'">
                    <!-- <label for="{{ subProp.key }}">{{
                      getLabelForInput(subProp.key)
                    }}</label> -->
                    <input
                      [(ngModel)]="emptyStay[property].subProp"
                      name="{{ property }} {{ subProp.key }}"
                      [placeholder]="'Enter ' + getLabelForInput(subProp.key)"
                      type="number"
                      class="full-width"
                    />
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </form>
</section>
