@import "../../app-root/app.component.scss";
.stay-edit-wrapper {
  input {
    outline: 0;
    border: none;
    border-bottom: 1px solid $secondaryClr2;

    &:focus-within {
      border: none;
    }
  }
  .stay-edit-form {
    .name-wrapper {
      order: 0;
      input {
        width: 100%;
        border: none;
      }
    }
    .loc-wrapper {
      order: 1;
      .input-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .loc.address {
          order: 2;
        }
        .loc.country {
          order: 0;
        }
        .loc.city {
          order: 1;
        }
      }
    }
    .imgUrls-wrapper {
      order: 2;
      & .input-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        min-height: 300px;
        gap: 1em;
        > * {
          background-color: $secondaryClr3;
          color: $fontclr2;
          display: grid;
          place-items: center;
        }

        & :first-child {
          grid-column: 1/3;
          grid-row: 1/3;
          border-top-left-radius: 0.5em;
          border-bottom-left-radius: 0.5em;
        }
        & :nth-child(4) {
          border-top-right-radius: 0.5em;
        }
        & :nth-child(5) {
          border-bottom-right-radius: 0.5em;
        }
      }
    }
    .equipment-wrapper {
      order: 3;
      & .input-wrapper {
        display: flex;
        justify-content: space-between;
        min-width: 200px;
        .equipment {
          width: 200px;
        }
      }
    }
    .roomType-wrapper {
      order: 4;
    }
    .price-wrapper {
      order: 5;
    }
    .summary-wrapper {
      order: 6;
    }
    .amenities-wrapper {
      order: 7;
    }
    .labels-wrapper {
      order: 8;
    }
  }
}
