@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";
.review-preview-wrapper {
  .reviewer-img-container {
    .reviewer-img {
      border-radius: 2em;
      width: 30px;
      height: 30px;
    }
  }
  .show-btn {
    background-color: transparent;
  }
  @include for-mobile-layout {
    width: 85vw;
    border: 1px solid rgba(51, 51, 51, 0.7);
    border-radius: 2em;
    padding: 1.5em;
  }
}
