@import "../../app-root/app.component.scss";
.review-preview-wrapper {
  .reviewer-img-container {
    .reviewer-img {
      border-radius: 2em;
      width: 30px;
      height: 30px;
    }
  }
  .show-btn {
    background-color: transparent;
  }
}
