<stay-list
  (scroll)="onScroll()"
  (clearFilter)="clearFilter()"
  [stays]="stays$ | async"
  [areMonthsDifferent]="areMonthsDifferent"
  [endMonth]="endMonth"
  [currDate]="currDate"
  [userLoc]="userLoc"
  [distances]="distances | async"
  [searchParam]="searchParam"
  [stayFilter]="stayFilter"
></stay-list>

<div *ngIf="isModalOpen" (click)="toggleModal()" class="modal-wrapper">
  <dynamic-modal
    [title]="getModalTitle()"
    class="dynamic-modal modal-content"
    (closeModal)="toggleModal()"
  >
    <ng-container *ngIf="modalTitle === 'Filters'">
      <filter-modal
        [stays]="stays$ | async"
        [nights]="5"
        (closeModal)="toggleModal()"
        class="filter-modal-container"
      ></filter-modal>
    </ng-container>

    <ng-container *ngIf="modalTitle === 'wishlist' && loggedInUser">
      <div class="wrapper-inside-modal flex column">
        <button
          class="btn btn-edit-wishlist flex align-center gap1"
          (click)="toggleModal('wishlistEdit', selectedStay)"
        >
          <div class="plus-btn-img-container">
            <img
              src="https://a0.muscache.com/im/pictures/da1a2f06-efb0-4079-abce-0f6fc82089e0.jpg"
              data-original-uri="https://a0.muscache.com/im/pictures/da1a2f06-efb0-4079-abce-0f6fc82089e0.jpg"
            />
          </div>
          <span class="fw500 fs18">Create new wishlist</span>
        </button>
        <wishlist-list
          [stay]="selectedStay!"
          [user]="loggedInUser"
        ></wishlist-list>
      </div>
    </ng-container>

    <ng-container *ngIf="modalTitle === 'wishlistEdit' && loggedInUser">
      <wishlist-edit
        [user]="loggedInUser"
        [stay]="selectedStay!"
        [isModal]="true"
      ></wishlist-edit>
    </ng-container>
  </dynamic-modal>
</div>
