<stay-list
  (clearFilter)="clearFilter()"
  [stays]="stays$ | async"
  [areMonthsDifferent]="areMonthsDifferent"
  [endMonth]="endMonth"
  [currDate]="currDate"
></stay-list>

<div *ngIf="isModalOpen" (click)="toggleModal()" class="modal-wrapper">
  <dynamic-modal
    [title]="modalTitle"
    class="dynamic-modal modal-content"
    (closeModal)="toggleModal()"
  >
    <ng-container *ngIf="modalTitle === 'Filter'">
      <filter-modal
        [stays]="stays$ | async"
        [nights]="5"
        (closeModal)="toggleModal()"
        class="filter-modal-container"
      ></filter-modal>
    </ng-container>

    <ng-container *ngIf="modalTitle === 'wishlist'">
      <wishlist-list></wishlist-list>
    </ng-container>

    <ng-container *ngIf="modalTitle === 'wishlistEdit'">
      <wishlist-edit></wishlist-edit>
    </ng-container>
  </dynamic-modal>
</div>
