@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";
:host {
  height: 100%;
}
dynamic-modal.dynamic-modal.modal-content {
  @include for-extra-wide-layout {
    max-height: 90%;
  }
  @include for-wide-layout {
    max-height: 90%;
  }
  @include for-normal-layout {
    max-height: 90%;
  }
  @include for-mobile-layout {
    margin-block-start: 0.5em;
  }
}
.dynamic-modal.modal-content {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  .btn-edit-wishlist {
    align-self: self-start;
    justify-content: flex-start;
    .plus-btn-img-container {
      width: em(60px);
    }
  }

  .filter-modal-container {
    @include for-extra-wide-layout {
      max-height: 500px;
    }
    @include for-wide-layout {
      max-height: 500px;
    }
    @include for-normal-layout {
      max-height: 500px;
    }
  }
}
