@import "../../app-root/app.component.scss";
.dynamic-modal.modal-content {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  max-height: 90%;

  .filter-modal-container {
    display: flex;
    max-height: 500px;
    width: 100%;
  }
}
