// BGCOLORS
$primaryClr1: #ff385c;
$secondaryClr1: #fff;
$secondaryClr2: #dddddd;
$secondaryClr3: #717171;
$secondaryClr4: #f7f7f7;
$secondaryClr5: #ebebeb;
$secondaryClr6: #b0b0b0;
// FONT COLORS
$fontClr1: rgb(113, 113, 113);
$fontClr2: rgb(238 232 244);
$fontClr3: #222222;

// STATUS COLORS
$pending: #ffba1e;
$declined: #e43838;
$approved: #4eb944;

$navHeight: 65px;
// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

$header-height: 84px;
$footer-height: 44px;

$outer-padding: 20px;
$gradient1: radial-gradient(
  circle at center,
  #ff385c 0%,
  #e61e4d 27.5%,
  #e31c5f 40%,
  #d70466 57.5%,
  #bd1e59 75%,
  #bd1e59 100%
);
$shadow1: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
$scrollbar-width: 8px;
:root {
  --perspective: 1000px;
  --camera-dolly: 0px;
  --camera-truck: 0px;
  --camera-pedestal: 50px;
  --camera-pan: 0deg;
  --camera-tilt: 0deg;
  --camera-roll: 0deg;
  --breakpoint-grid-columns: 1;
  --breakpoint-grid-columns-map-active: 1;
  --stay-preview-width: 13.75em;
  --stay-preview-height: 18em;
  --full-height: 100vh;

  @media (min-width: 550px) {
    --breakpoint-grid-columns: 2;
    --breakpoint-grid-columns-map-active: 2;
    --stay-preview-width: 14.375em;
    --stay-preview-height: 13.125em;
  }
  @media (min-width: 950px) {
    --breakpoint-grid-columns: 3;
    --breakpoint-grid-columns-map-active: 3;
    --stay-preview-width: 15em;
    --stay-preview-height: 13.75em;
  }
  @media (min-width: 1128px) {
    --breakpoint-grid-columns: 4;
    --stay-preview-width: 15em;
    --stay-preview-height: 13.75em;
  }
  @media (min-width: 1640px) {
    --breakpoint-grid-columns: 5;
    --stay-preview-width: 16.875em;
    --stay-preview-height: 15.625em;
  }
  @media (min-width: 1880px) {
    --breakpoint-grid-columns: 6;
    --stay-preview-width: 16.875em;
    --stay-preview-height: 15.625em;
  }
}
