<section
  *ngIf="stay$ | async as stay"
  class="stay-details-wrapper flex align-center column"
>
  <header class="stay-details-mobile-header show-on-mobile">
    <div
      class="img-container"
      appSwipe
      (swipeLeft)="onSwipe(1)"
      (swipeRight)="onSwipe(-1)"
    >
      <img
        [src]="stay.imgUrls[currImgUrlIdx]"
        alt=""
        class="stay-img"
        loading="lazy"
      />
      <a class="btn btn-back shadow" routerLink="/">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="
            display: block;
            fill: none;
            height: 16px;
            width: 16px;
            stroke: currentcolor;
            stroke-width: 5.33333;
            overflow: visible;
          "
        >
          <g fill="none">
            <path
              d="m20 28-11.29289322-11.2928932c-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l11.29289322-11.2928932"
            ></path>
          </g>
        </svg>
      </a>
      <button class="btn btn-share">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          style="
            display: block;
            fill: none;
            height: 16px;
            width: 16px;
            stroke: currentcolor;
            stroke-width: 2px;
            overflow: visible;
          "
          aria-hidden="true"
          role="presentation"
          focusable="false"
        >
          <g fill="none">
            <path d="M27 18v9a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-9"></path>
            <path d="M16 3v23V3z"></path>
            <path d="M6 13l9.293-9.293a1 1 0 0 1 1.414 0L26 13"></path>
          </g>
        </svg>
      </button>
      <button class="btn btn-save">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          style="
            display: block;
            fill: none;
            height: 16px;
            width: 16px;
            stroke: currentcolor;
            stroke-width: 2px;
            overflow: visible;
          "
          aria-hidden="true"
          role="presentation"
          focusable="false"
        >
          <path
            d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"
          ></path>
        </svg>
      </button>
      <span>{{ currImgUrlIdx + 1 }} / {{ stay.imgUrls.length }}</span>
    </div>
    <h1>{{ stay.name }}</h1>
    <div
      class="stay-details-header-info flex align-center space-between wrap gap1 separator"
    >
      <span class="rate flex align-center space-between gap-point5"
        ><span>
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            style="
              display: block;
              height: 14px;
              width: 14px;
              fill: currentcolor;
            "
            aria-hidden="true"
            role="presentation"
            focusable="false"
          >
            <path
              d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z"
              fill-rule="evenodd"
            ></path>
          </svg> </span
        ><span>{{ stay.rate }}</span></span
      >
      <span class="reviews deco-underline" (click)="openModal('review-preview')"
        >{{ stay.reviews.length }} reviews
      </span>
      <span
        *ngIf="stay.host.isSuperhost"
        class="superhost flex align-center space-between gap-point5"
      >
        <span class="superhost-icon">
          <svg
            viewBox="0 0 12 14"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-label="Bua is a Superhost."
            role="img"
            focusable="false"
            style="display: block; height: 16px; width: 16px"
          >
            <path
              d="m9.93333333 0c.87202857 0 1.58763737.66971256 1.66054897 1.52286029l.0061177.14380638v2.15041978c0 .54338023-.2645632 1.0492763-.7030502 1.35988148l-.1238314.07975002-3.73157298 2.1770919c1.26372053.49592199 2.15845458 1.7265679 2.15845458 3.16619015 0 1.8777681-1.52223185 3.4-3.4 3.4s-3.4-1.5222319-3.4-3.4c0-1.43962225.89473405-2.67026816 2.15845458-3.16619015l-3.73157296-2.1770919c-.46936038-.27379356-.77303698-.75722407-.8203903-1.29248482l-.00649132-.14714668v-2.15041978c0-.87202856.66971256-1.58763736 1.52286029-1.66054901l.14380638-.00611766z"
              fill="black"
            ></path>
            <path
              d="m5.8 8.2c-1.3254834 0-2.4 1.0745166-2.4 2.4 0 1.2702549.98683903 2.3100212 2.23568127 2.3944631l.16431873.0055369.16431873-.0055369c1.24884224-.0844419 2.23568127-1.1242082 2.23568127-2.3944631 0-1.3254834-1.0745166-2.4-2.4-2.4zm4.13333333-7.2h-8.26666666c-.33471803 0-.61182201.24667507-.65943829.56815155l-.00722838.09851512v2.15041978c0 .20323832.09252797.39336698.24794223.51877872l.08281042.05707388 4.13333333 2.41111111c.08896072.05189375.18694036.08154732.28620841.08896071h.09941122l.09855226-.01482678.09597544-.02965357.09168071-.04448036 4.13333338-2.41111111c.1755529-.10240591.2931599-.27812994.3231792-.47556484l.0075734-.10028776v-2.15041978c0-.33471803-.2466751-.61182201-.5681516-.65943829z"
              fill="black"
            ></path>
          </svg>
        </span>

        <span class="superhost-txt">Superhost</span></span
      >
      <span class="loc deco-underline">{{ stay.loc.address }}</span>
    </div>
  </header>

  <header
    class="stay-details-header flex align-start space-between column hidden-on-mobile"
  >
    <h1>{{ stay.name }}</h1>
    <div
      class="stay-details-header-info-wrapper flex align-center space-between"
    >
      <div class="stay-details-header-info flex align-center space-between">
        <span class="rate align-center"
          ><span>
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              style="
                display: block;
                height: 14px;
                width: 14px;
                fill: currentcolor;
              "
              aria-hidden="true"
              role="presentation"
              focusable="false"
            >
              <path
                d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z"
                fill-rule="evenodd"
              ></path>
            </svg> </span
          ><span>{{ stay.rate }}</span></span
        >
        <span class="reviews deco-underline"
          >{{ stay.reviews.length }} reviews</span
        >
        <span
          *ngIf="stay.host.isSuperhost"
          class="superhost flex align-center space-between"
        >
          <span class="superhost-icon">
            <svg
              viewBox="0 0 12 14"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-label="Bua is a Superhost."
              role="img"
              focusable="false"
              style="display: block; height: 16px; width: 16px"
            >
              <path
                d="m9.93333333 0c.87202857 0 1.58763737.66971256 1.66054897 1.52286029l.0061177.14380638v2.15041978c0 .54338023-.2645632 1.0492763-.7030502 1.35988148l-.1238314.07975002-3.73157298 2.1770919c1.26372053.49592199 2.15845458 1.7265679 2.15845458 3.16619015 0 1.8777681-1.52223185 3.4-3.4 3.4s-3.4-1.5222319-3.4-3.4c0-1.43962225.89473405-2.67026816 2.15845458-3.16619015l-3.73157296-2.1770919c-.46936038-.27379356-.77303698-.75722407-.8203903-1.29248482l-.00649132-.14714668v-2.15041978c0-.87202856.66971256-1.58763736 1.52286029-1.66054901l.14380638-.00611766z"
                fill="black"
              ></path>
              <path
                d="m5.8 8.2c-1.3254834 0-2.4 1.0745166-2.4 2.4 0 1.2702549.98683903 2.3100212 2.23568127 2.3944631l.16431873.0055369.16431873-.0055369c1.24884224-.0844419 2.23568127-1.1242082 2.23568127-2.3944631 0-1.3254834-1.0745166-2.4-2.4-2.4zm4.13333333-7.2h-8.26666666c-.33471803 0-.61182201.24667507-.65943829.56815155l-.00722838.09851512v2.15041978c0 .20323832.09252797.39336698.24794223.51877872l.08281042.05707388 4.13333333 2.41111111c.08896072.05189375.18694036.08154732.28620841.08896071h.09941122l.09855226-.01482678.09597544-.02965357.09168071-.04448036 4.13333338-2.41111111c.1755529-.10240591.2931599-.27812994.3231792-.47556484l.0075734-.10028776v-2.15041978c0-.33471803-.2466751-.61182201-.5681516-.65943829z"
                fill="black"
              ></path>
            </svg>
          </span>

          <span class="superhost-txt">Superhost</span></span
        >
        <span class="loc">{{ stay.loc.address }}</span>
      </div>
      <div class="details-options-btns flex align-center space-between">
        <button class="btn btn-share">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            style="
              display: block;
              fill: none;
              height: 16px;
              width: 16px;
              stroke: currentcolor;
              stroke-width: 2px;
              overflow: visible;
            "
            aria-hidden="true"
            role="presentation"
            focusable="false"
          >
            <g fill="none">
              <path d="M27 18v9a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-9"></path>
              <path d="M16 3v23V3z"></path>
              <path d="M6 13l9.293-9.293a1 1 0 0 1 1.414 0L26 13"></path>
            </g>
          </svg>
          <span>Share</span>
        </button>
        <button class="btn btn-save">
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            style="
              display: block;
              fill: none;
              height: 16px;
              width: 16px;
              stroke: currentcolor;
              stroke-width: 2px;
              overflow: visible;
            "
            aria-hidden="true"
            role="presentation"
            focusable="false"
          >
            <path
              d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"
            ></path>
          </svg>
          <span>Save</span>
        </button>
      </div>
    </div>
  </header>
  <div class="imgs-container hidden-on-mobile">
    <div class="img-container" *ngFor="let img of stay.imgUrls; let i = index">
      <img
        class="stay-img"
        [src]="img"
        [alt]="i + 1 + ' image of room'"
        loading="lazy"
      />
    </div>
  </div>

  <main class="stay-details-main separator">
    <div class="amenities-stay-desc">
      <header
        class="amenities-stay-desc-header flex align-center space-between separator"
      >
        <div class="txt-container">
          <h2>{{ stay.roomType }} hosted by {{ stay.host.fullname }}</h2>
          <p>
            <span
              >{{
                stay.capacity === 1
                  ? stay.capacity + " guest"
                  : stay.capacity + " guests"
              }}
            </span>
            <span
              >{{
                stay.equipment.bedroomNum === 1
                  ? stay.equipment.bedroomNum + " bedroom"
                  : stay.equipment.bedroomNum + " bedrooms"
              }}
            </span>
            <span
              >{{
                stay.equipment.bedsNum === 1
                  ? stay.equipment.bedsNum + " bed"
                  : stay.equipment.bedsNum + " beds"
              }}
            </span>
            <span
              >{{
                stay.equipment.bathNum === 1
                  ? stay.equipment.bathNum + " bath"
                  : stay.equipment.bathNum + " baths"
              }}
            </span>
          </p>
        </div>
        <div class="host-img-container">
          <img
            [src]="stay.host.thumbnailUrl"
            alt="host image"
            class="host-img"
            loading="lazy"
          />
          <svg
            *ngIf="stay.host.isSuperhost"
            viewBox="0 0 12 14"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            focusable="false"
            style="display: block; height: 22px; width: 20px"
          >
            <linearGradient
              id="rauschgradient"
              x1="8.496301%"
              x2="92.184371%"
              y1="17.163843%"
              y2="17.163843%"
            >
              <stop offset="0" stop-color="#e61e4d"></stop>
              <stop offset=".49633138" stop-color="#e31c5f"></stop>
              <stop offset="1" stop-color="#d70466"></stop>
            </linearGradient>
            <path
              d="m9.93333333 0c.87202857 0 1.58763737.66971256 1.66054897 1.52286029l.0061177.14380638v2.15041978c0 .54338023-.2645632 1.0492763-.7030502 1.35988148l-.1238314.07975002-3.73157298 2.1770919c1.26372053.49592199 2.15845458 1.7265679 2.15845458 3.16619015 0 1.8777681-1.52223185 3.4-3.4 3.4s-3.4-1.5222319-3.4-3.4c0-1.43962225.89473405-2.67026816 2.15845458-3.16619015l-3.73157296-2.1770919c-.46936038-.27379356-.77303698-.75722407-.8203903-1.29248482l-.00649132-.14714668v-2.15041978c0-.87202856.66971256-1.58763736 1.52286029-1.66054901l.14380638-.00611766z"
              fill="#fff"
            ></path>
            <path
              d="m5.8 8.2c-1.3254834 0-2.4 1.0745166-2.4 2.4 0 1.2702549.98683903 2.3100212 2.23568127 2.3944631l.16431873.0055369.16431873-.0055369c1.24884224-.0844419 2.23568127-1.1242082 2.23568127-2.3944631 0-1.3254834-1.0745166-2.4-2.4-2.4zm4.13333333-7.2h-8.26666666c-.33471803 0-.61182201.24667507-.65943829.56815155l-.00722838.09851512v2.15041978c0 .20323832.09252797.39336698.24794223.51877872l.08281042.05707388 4.13333333 2.41111111c.08896072.05189375.18694036.08154732.28620841.08896071h.09941122l.09855226-.01482678.09597544-.02965357.09168071-.04448036 4.13333338-2.41111111c.1755529-.10240591.2931599-.27812994.3231792-.47556484l.0075734-.10028776v-2.15041978c0-.33471803-.2466751-.61182201-.5681516-.65943829z"
              fill="url(#rauschgradient)"
            ></path>
          </svg>
        </div>
      </header>
      <ul class="stay-bullet-points flex space-between column separator">
        <li class="stay-bullet-points-room-type flex align-center">
          <div class="icon-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                height: 30px;
                width: 30px;
                fill: currentcolor;
              "
            >
              <path
                d="M17 6a2 2 0 0 1 2 1.85v8.91l.24.24H24v-3h-3a1 1 0 0 1-.98-1.2l.03-.12 2-6a1 1 0 0 1 .83-.67L23 6h4a1 1 0 0 1 .9.58l.05.1 2 6a1 1 0 0 1-.83 1.31L29 14h-3v3h5a1 1 0 0 1 1 .88V30h-2v-3H20v3h-2v-3H2v3H0V19a3 3 0 0 1 1-2.24V8a2 2 0 0 1 1.85-2H3zm13 13H20v6h10zm-13-1H3a1 1 0 0 0-1 .88V25h16v-6a1 1 0 0 0-.77-.97l-.11-.02zm8 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM17 8H3v8h2v-3a2 2 0 0 1 1.85-2H13a2 2 0 0 1 2 1.85V16h2zm-4 5H7v3h6zm13.28-5h-2.56l-1.33 4h5.22z"
                fill="#222222"
              ></path>
            </svg>
          </div>
          <div class="txt-container flex column space-between">
            <h4 class="fw600">
              {{
                stay.roomType === "Private room"
                  ? "Room in a home"
                  : "Entire place to yourself"
              }}
            </h4>
            <span>{{
              stay.roomType === "Private room"
                ? "Your own room in a home, plus access to shared spaces."
                : " A home all to yourself. Average nightly prices include fees and taxes."
            }}</span>
          </div>
        </li>
        <li
          *ngIf="stay.amenities.includes('Dedicated workspace')"
          class="stay-bullet-points-workspace flex align-center"
        >
          <div class="icon-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                height: 30px;
                width: 30px;
                fill: currentcolor;
              "
            >
              <path
                d="M26 2a1 1 0 0 1 .92.61l.04.12 2 7a1 1 0 0 1-.85 1.26L28 11h-3v5h6v2h-2v13h-2v-2.54a3.98 3.98 0 0 1-1.73.53L25 29H7a3.98 3.98 0 0 1-2-.54V31H3V18H1v-2h5v-4a1 1 0 0 1 .88-1h.36L6.09 8.4l1.82-.8L9.43 11H12a1 1 0 0 1 1 .88V16h10v-5h-3a1 1 0 0 1-.99-1.16l.03-.11 2-7a1 1 0 0 1 .84-.72L22 2h4zm1 16H5v7a2 2 0 0 0 1.7 1.98l.15.01L7 27h18a2 2 0 0 0 2-1.85V18zm-16-5H8v3h3v-3zm14.24-9h-2.49l-1.43 5h5.35l-1.43-5z"
              ></path>
            </svg>
          </div>
          <div class="txt-container flex column space-between">
            <h4 class="fw600">Dedicated workspace</h4>
            <span>A room with wifi that’s well-suited for working.</span>
          </div>
        </li>
        <li
          *ngIf="stay.host.isSuperhost"
          class="stay-bullet-points-superhost flex align-center"
        >
          <div class="icon-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                height: 30px;
                width: 30px;
                fill: currentcolor;
              "
            >
              <path
                d="M16 17a7 7 0 1 1 0 14 7 7 0 0 1 0-14zm0 2a5 5 0 1 0 0 10 5 5 0 0 0 0-10zM25.67.33a2 2 0 0 1 2 1.85v6.54a2 2 0 0 1-.97 1.7l-.14.08-9.67 4.84a2 2 0 0 1-1.61.07l-.17-.07-9.67-4.84a2 2 0 0 1-1.1-1.62V2.33a2 2 0 0 1 1.84-2h.15zm0 2H6.33v6.39L16 13.55l9.67-4.83z"
              ></path>
            </svg>
          </div>

          <div class="txt-container flex column space-between">
            <h4 class="fw600">{{ stay.host.fullname }} is a Superhost</h4>
            <span
              >Superhosts are experienced, highly rated hosts who are committed
              to providing great stays for guests.</span
            >
          </div>
        </li>
      </ul>
      <article class="stay-summary separator">
        <p class="stay-summary-txt">
          <span>
            {{
              summaryShowMore ? stay.summary : (stay.summary | slice : 0 : 100)
            }}
          </span>
          <span *ngIf="stay.summary.length > 100 && !summaryShowMore">
            ...<br
          /></span>
          <button
            [class.hidden]="summaryShowMore || stay.summary.length < 100"
            class="show-btn deco-underline fw600 fs16"
            (click)="toggleSummaryShowMore()"
          >
            Show more
          </button>
        </p>
      </article>
      <section
        class="amenities-list-container separator flex column space-between gap1"
      >
        <h4 class="fw600 fs24">What this place offers</h4>
        <ul class="amenities-list gap1">
          <li
            *ngFor="let amenity of stay.amenities | slice : 0 : 8"
            class="amenity"
          >
            <span class="amenity-txt">{{ amenity }}</span>
          </li>
        </ul>
        <button
          class="btn btn-show-amenities"
          (click)="openModal('amenity-list')"
        >
          Show all {{ stay.amenities.length }} amenities
        </button>
      </section>
      <section class="date-picker">
        <mat-card class="mat-card flex hidden-on-mobile">
          <mat-calendar [(selected)]="searchParam.startDate"></mat-calendar>
          <mat-calendar [(selected)]="searchParam.endDate"></mat-calendar>
        </mat-card>
        <section class="mobile-date-picker show-on-mobile">
          <inline-range-calendar
            (selectedRangeValueChange)="setDateRange($event)"
          ></inline-range-calendar>
        </section>
      </section>
    </div>

    <div
      class="reservation-form-container flex align-center space-between column shadow hidden-on-mobile"
    >
      <header class="reservation-header flex align-center space-between">
        <h3>
          <span class="fw700">${{ stay.price }}</span> night
        </h3>
        <div class="reservation-info-container flex align-center space-between">
          <span class="rate flex align-center"
            ><span>
              <svg
                viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg"
                style="
                  display: block;
                  height: 14px;
                  width: 14px;
                  fill: currentcolor;
                "
                aria-hidden="true"
                role="presentation"
                focusable="false"
              >
                <path
                  d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z"
                  fill-rule="evenodd"
                ></path>
              </svg> </span
            ><span>{{ stay.rate }}</span></span
          >
          <span class="reviews deco-underline"
            >{{ stay.reviews.length }} reviews</span
          >
        </div>
      </header>
      <div class="menu-triggers-wrapper flex column align-center space-between">
        <div
          class="check-in-out-btns-container flex align-center space-between full-width"
        >
          <button
            class="btn-search check-in fw500 flex column space-between align-start"
            (click)="picker.open()"
          >
            <span class="fs12 fw500">CHECK-IN</span>
            <span class="fw500">{{
              searchParam.startDate
                ? searchParam.startDate.toLocaleDateString("en-GB", {
                    day: "2-digit",
                    month: "short"
                  })
                : defaultDate.start.toLocaleDateString("en-GB", {
                    day: "2-digit",
                    month: "short"
                  })
            }}</span>
          </button>
          <span class="separator"></span>
          <button
            class="btn-search check-out fw500 flex column space-between align-start"
            (click)="picker.open()"
          >
            <span class="fs12 fw500">CHECKOUT</span>
            <span class="fw500">{{
              searchParam.endDate
                ? searchParam.endDate.toLocaleDateString("en-GB", {
                    day: "2-digit",
                    month: "short"
                  })
                : defaultDate.end.toLocaleDateString("en-GB", {
                    day: "2-digit",
                    month: "short"
                  })
            }}</span>
          </button>
        </div>
        <button class="undesired-btn">
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="Start date"
              [(ngModel)]="searchParam.startDate"
            />
            <input
              matEndDate
              placeholder="End date"
              [(ngModel)]="searchParam.endDate"
            />
          </mat-date-range-input>
        </button>
        <mat-date-range-picker
          [yPosition]="'below'"
          #picker
        ></mat-date-range-picker>
        <button
          class="btn-guests-menu-trigger"
          mat-button
          #guestsMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="guestsMenu"
        >
          <span class="fs12 guest-txt fw500">GUESTS</span>
          <span>{{ guestsNumForDisplay }} </span>
        </button>
      </div>
      <mat-menu
        class="guests-menu-in-stay-details"
        #guestsMenu="matMenu"
        xPosition="after"
        yPosition="above"
      >
        <div class="guests-menu-wrapper flex column space-between gap1">
          <div class="guests-item-container flex align-center space-between">
            <div class="txt-container flex column">
              <h4>Adults</h4>
              <span>Ages 13 or above</span>
            </div>
            <div
              class="plus-minus-btns-container flex align-center space-between gap-point5"
            >
              <button
                class="btn btn-subtract adults"
                (click)="updateGuests($event, -1)"
                [disabled]="searchParam.guests.adults <= 0"
                [class.disabled]="searchParam.guests.adults <= 0"
              >
                <svg
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    fill: none;
                    height: 12px;
                    width: 12px;
                    stroke: currentcolor;
                    stroke-width: 5.33333;
                    overflow: visible;
                  "
                >
                  <path d="m2 16h28"></path>
                </svg>
              </button>
              <span>{{ searchParam.guests.adults }}</span>
              <button
                class="btn btn-add adults"
                (click)="updateGuests($event, 1)"
              >
                <svg
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    fill: none;
                    height: 12px;
                    width: 12px;
                    stroke: currentcolor;
                    stroke-width: 5.33333;
                    overflow: visible;
                  "
                >
                  <path d="m2 16h28m-14-14v28"></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="guests-item-container flex align-center space-between">
            <div class="txt-container flex column">
              <h4>Children</h4>
              <span>Ages 2-12</span>
            </div>
            <div
              class="plus-minus-btns-container flex align-center space-between gap-point5"
            >
              <button
                class="btn btn-subtract children"
                (click)="updateGuests($event, -1)"
                [disabled]="searchParam.guests.children <= 0"
                [class.disabled]="searchParam.guests.children <= 0"
              >
                <svg
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    fill: none;
                    height: 12px;
                    width: 12px;
                    stroke: currentcolor;
                    stroke-width: 5.33333;
                    overflow: visible;
                  "
                >
                  <path d="m2 16h28"></path>
                </svg>
              </button>
              <span>{{ searchParam.guests.children }}</span>
              <button
                class="btn btn-add children"
                (click)="updateGuests($event, 1)"
              >
                <svg
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    fill: none;
                    height: 12px;
                    width: 12px;
                    stroke: currentcolor;
                    stroke-width: 5.33333;
                    overflow: visible;
                  "
                >
                  <path d="m2 16h28m-14-14v28"></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="guests-item-container flex align-center space-between">
            <div class="txt-container flex column">
              <h4>Infants</h4>
              <span>Under 2</span>
            </div>
            <div
              class="plus-minus-btns-container flex align-center space-between gap-point5"
            >
              <button
                class="btn btn-subtract infants"
                (click)="updateGuests($event, -1)"
                [disabled]="searchParam.guests.infants <= 0"
                [class.disabled]="searchParam.guests.infants <= 0"
              >
                <svg
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    fill: none;
                    height: 12px;
                    width: 12px;
                    stroke: currentcolor;
                    stroke-width: 5.33333;
                    overflow: visible;
                  "
                >
                  <path d="m2 16h28"></path>
                </svg>
              </button>
              <span>{{ searchParam.guests.infants }}</span>
              <button
                class="btn btn-add infants"
                (click)="updateGuests($event, 1)"
              >
                <svg
                  viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="
                    display: block;
                    fill: none;
                    height: 12px;
                    width: 12px;
                    stroke: currentcolor;
                    stroke-width: 5.33333;
                    overflow: visible;
                  "
                >
                  <path d="m2 16h28m-14-14v28"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </mat-menu>
      <button class="btn btn-reserve">Reserve</button>
      <span class="text-center">You won't be charged yet</span>
      <div class="price-info-container flex align-center space-between column">
        <div
          class="night-amout-price flex align-center space-between full-width"
        >
          <span class="deco-underline fw400"
            >${{ stay.price }} x {{ nightSum }} nights</span
          >
          <span>${{ stay.price * nightSum }}</span>
        </div>
        <div
          class="total-price flex align-center space-between fw700 full-width"
        >
          <span>Total</span>
          <span>${{ stay.price * nightSum }}</span>
        </div>
      </div>
    </div>
  </main>

  <div class="reviews-container separator flex column space-between gap1">
    <header class="reviews-list-header flex align-center fs22 fw500 gap1">
      <span class="rate flex align-center gap-point5"
        ><span>
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            style="
              display: block;
              height: 14px;
              width: 14px;
              fill: currentcolor;
            "
            aria-hidden="true"
            role="presentation"
            focusable="false"
          >
            <path
              d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z"
              fill-rule="evenodd"
            ></path>
          </svg> </span
        ><span>{{ stay.rate }}</span></span
      >
      <div class="reviews flex align-center space-between gap-point5">
        <span>{{ stay.reviews.length }} Reviews</span>
      </div>
    </header>
    <ul class="reviews-list gap1">
      <review-preview
        *ngFor="let review of stay.reviews | slice : 0 : 10"
        class="review-item"
        [review]="review"
        [independentToggling]="!isMobile"
        (txtToggled)="openModal('review-preview')"
      ></review-preview>
    </ul>
    <button class="btn btn-show-reviews" (click)="openModal('review-preview')">
      Show all {{ stay.reviews.length }} reviews
    </button>
  </div>
  <section class="loc-container separator gap1">
    <h4 class="fw600 fs20">Where you'll be</h4>
    <google-map
      height="100%"
      width="100%"
      [zoom]="15"
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
      [center]="center"
    >
      <map-marker [icon]="homeIcon" [position]="center"> </map-marker>
    </google-map>
  </section>
  <section class="host-sect flex column space-between gap1">
    <header class="host-header flex align-center gap1">
      <div class="img-container">
        <img [src]="stay.host.thumbnailUrl" alt="picture of host" />
      </div>
      <div class="host-txt-container flex column space-between">
        <h4 class="fw600 fs20">Hosted By {{ stay.host.fullname }}</h4>
        <span class="fw400 fs14"
          >Joined in
          {{
            getUserJoinDate(stay.host._id).toLocaleDateString("en-GB", {
              day: "2-digit",
              month: "long",
              year: "numeric"
            })
          }}</span
        >
      </div>
    </header>
    <div class="host-info flex align-center gap1">
      <div class="reviews flex align-center space-between gap-point5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="display: block; height: 16px; width: 16px; fill: currentcolor"
        >
          <path
            fill-rule="evenodd"
            d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"
          ></path>
        </svg>
        <span>{{ stay.reviews.length }} Reviews</span>
      </div>
      <div
        *ngIf="stay.host.isSuperhost"
        class="superhost flex align-center space-between gap-point5"
      >
        <svg
          _ngcontent-ng-c2712826652=""
          viewBox="0 0 12 14"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-label="Bua is a Superhost."
          role="img"
          focusable="false"
          style="display: block; height: 16px; width: 16px"
        >
          <path
            _ngcontent-ng-c2712826652=""
            d="m9.93333333 0c.87202857 0 1.58763737.66971256 1.66054897 1.52286029l.0061177.14380638v2.15041978c0 .54338023-.2645632 1.0492763-.7030502 1.35988148l-.1238314.07975002-3.73157298 2.1770919c1.26372053.49592199 2.15845458 1.7265679 2.15845458 3.16619015 0 1.8777681-1.52223185 3.4-3.4 3.4s-3.4-1.5222319-3.4-3.4c0-1.43962225.89473405-2.67026816 2.15845458-3.16619015l-3.73157296-2.1770919c-.46936038-.27379356-.77303698-.75722407-.8203903-1.29248482l-.00649132-.14714668v-2.15041978c0-.87202856.66971256-1.58763736 1.52286029-1.66054901l.14380638-.00611766z"
            fill="black"
          ></path>
          <path
            _ngcontent-ng-c2712826652=""
            d="m5.8 8.2c-1.3254834 0-2.4 1.0745166-2.4 2.4 0 1.2702549.98683903 2.3100212 2.23568127 2.3944631l.16431873.0055369.16431873-.0055369c1.24884224-.0844419 2.23568127-1.1242082 2.23568127-2.3944631 0-1.3254834-1.0745166-2.4-2.4-2.4zm4.13333333-7.2h-8.26666666c-.33471803 0-.61182201.24667507-.65943829.56815155l-.00722838.09851512v2.15041978c0 .20323832.09252797.39336698.24794223.51877872l.08281042.05707388 4.13333333 2.41111111c.08896072.05189375.18694036.08154732.28620841.08896071h.09941122l.09855226-.01482678.09597544-.02965357.09168071-.04448036 4.13333338-2.41111111c.1755529-.10240591.2931599-.27812994.3231792-.47556484l.0075734-.10028776v-2.15041978c0-.33471803-.2466751-.61182201-.5681516-.65943829z"
            fill="black"
          ></path>
        </svg>
        <span>Superhost</span>
      </div>
    </div>
    <div
      *ngIf="stay.host.isSuperhost"
      class="superhost-desc flex column space-between gap1"
    >
      <strong>{{ stay.host.fullname }} is a Superhost</strong>
      <p>
        Superhosts are experienced, highly rated hosts who are committed to
        providing great stays for guests.
      </p>
    </div>
    <p>Response time: {{ stay.host.responseTime }}</p>
    <p>
      <span>
        {{
          hostDescShowMore
            ? stay.host.description
            : (stay.host.description | slice : 0 : 100)
        }}
      </span>
      <span *ngIf="stay.host.description.length > 100 && !hostDescShowMore">
        ...<br
      /></span>
      <button
        [class.hidden]="hostDescShowMore || stay.host.description.length < 100"
        class="show-btn deco-underline fw600 fs16"
        (click)="toggleHostDescShowMore()"
      >
        Show more
      </button>
    </p>
    <button class="btn btn-contact fw600">Contact Host</button>
  </section>

  <div *ngIf="isShowModal" class="modal-wrapper" (click)="isShowModal = false">
    <dynamic-modal
      [title]="currModalContent.title"
      class="dynamic-modal modal-content"
      (closeModal)="isShowModal = false"
    >
      <ng-container [ngSwitch]="currModalContent.cmp">
        <review-list
          [reviews]="stay.reviews"
          [independentToggling]="false"
          [isToggleEnabled]="false"
          *ngSwitchCase="'review-preview'"
        >
          <!-- <review-preview
            *ngFor="let review of stay.reviews"
            [review]="review"
          ></review-preview> -->
        </review-list>
        <amenity-list
          *ngSwitchCase="'amenity-list'"
          [amenities]="stay.amenities"
        ></amenity-list>
        <!-- add other components here -->
      </ng-container>
    </dynamic-modal>
  </div>
</section>
