@import "../../app-root/app.component.scss";
.user-msg-dialog {
  width: 200px;
  min-height: 100px;
  background-color: $primaryClr1;
  color: $fontClr2;
  top: 25%;
  border-radius: 1em;
  z-index: 100;
  opacity: 0;
  transition: 0.6s;
  pointer-events: none;
  &.open {
    opacity: 1;
    pointer-events: auto;
  }
  .btn.btn-dialog {
    color: $secondaryClr1;
    border: 1px solid $secondaryClr1;
    &:hover {
      color: $fontClr3;
    }
  }
}
