@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";
.chat-preview-wrapper {
  .img-container {
    width: 2em;
    height: 100%;
    img {
      border-radius: 1em;
      width: 100%;
      height: 100%;
    }
  }
}
