@import "../../app-root/app.component.scss";

.stay-preview-container {
  gap: 1em;
  width: em(270px);
  cursor: pointer;
  &:hover .img-container .btn-dir {
    opacity: 1;
  }

  .img-container {
    position: relative;
    width: em(270px);
    height: em(260px);

    .btn-dir {
      position: absolute;
      top: 50%;
      transition: 0.45s ease;
      opacity: 0;
      &:hover {
        scale: 1.08;
      }
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
    .btn-right {
      right: 0;
      transform: translate(-50%, -50%);
    }
    .btn-left {
      left: 0;
      transform: translate(50%, -50%);
    }

    .superhost {
      position: absolute;
      left: em(-30px);
      transform: translate(50%, 50%);
      background-color: #fff;
      color: #333;
      padding: 0.5em;
      border-radius: 3px;
    }

    .img-idx-container {
      position: absolute;
      bottom: 1em;
      left: 50%;
      transform: translate(-50%, 50%);
      gap: 0.3em;
      .img-idx {
        width: 0.2em;
        height: 0.2em;
        background-color: $secondaryClr1;
        border-radius: 3em;
        opacity: 0.6;
        &.next-prev {
          width: 0.3em;

          height: 0.3em;
        }
        &.active {
          opacity: 1;
          width: 0.3em;
          height: 0.3em;
        }
      }
    }
    img {
      width: 100%;
      border-radius: 1em;
    }

    .heart-icon {
      position: absolute;
      right: 0;
      transform: translate(-50%, 50%);
      svg {
        display: block;
        fill: rgba(0, 0, 0, 0.5);
        height: 24px;
        width: 24px;
        stroke: $secondaryClr1;
        stroke-width: 2;
        overflow: visible;
      }
    }
    .host-img-container {
      position: absolute;
      left: 0;
      bottom: 0;
      img {
        border-radius: 2em;
      }
    }
  }
  .txt-container {
    display: grid;
    grid-template-columns: em(224px) 1fr;
    grid-template-rows: 25px;
    align-items: center;
    gap: 0.5em;
    color: $fontclr3;
    .stay {
      &-rate {
        justify-self: start;
        grid-column: 2;
        color: $fontclr3;
        width: 100%;
        gap: 0.3em;
      }
      &-name {
        grid-row: 1;
        grid-column: 1;
        color: $fontclr3;
      }
      &-km-away {
        grid-row: 2;
        color: $secondaryClr3;
      }
      &-dates {
        grid-row: 3;
        color: $secondaryClr3;
      }
      &-price {
        grid-row: 4;
      }
    }
  }
}
@include for-mobile-layout {
  :host {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .stay-preview-container {
      gap: 0.5em;
      width: 100%;
      align-items: center;
      margin-inline: em(20px);
      .img-container {
        min-width: 350px;
        height: 350px;
        max-width: 90%;
      }
      .txt-container {
        width: 100%;
        gap: 0.2em;
        .stay {
          &-rate {
            justify-content: end;
          }
        }
      }
    }
  }
}
