<article class="stay-preview-container flex column">
  <div class="img-container flex">
    <img
      [src]="
        stay.imgUrls[currImgUrl]
          ? stay.imgUrls[currImgUrl]
          : 'assets/imgs/airbnbLogo.jpg'
      "
    />
    <div class="img-idx-container flex">
      <div
        *ngFor="let img of stay.imgUrls; let i = index"
        class="img-idx"
        [ngClass]="{
          active: i === currImgUrl,
          'next-prev': i === currImgUrl + 1 || i === currImgUrl - 1
        }"
      ></div>
    </div>
    <span class="heart-icon"
      ><svg
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="
          display: block;
          fill: rgba(0, 0, 0, 0.5);
          height: 24px;
          width: 24px;
          stroke: var(--f-mkcy-f);
          stroke-width: 2;
          overflow: visible;
        "
      >
        <path
          d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"
        ></path>
      </svg>
    </span>
    <button
      (click)="scrollToLeft($event)"
      class="btn btn-left btn-dir shadow"
      [class.hidden]="isFirstElementInView"
    >
      <svg
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="
          display: block;
          fill: none;
          height: 12px;
          width: 12px;
          stroke: currentcolor;
          stroke-width: 5.33333;
          overflow: visible;
        "
      >
        <g fill="none">
          <path
            d="m20 28-11.29289322-11.2928932c-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l11.29289322-11.2928932"
          ></path>
        </g>
      </svg>
    </button>
    <button
      (click)="scrollToRight($event)"
      class="btn btn-right btn-dir shadow"
      [class.hidden]="isLastElementInView"
    >
      <svg
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="
          display: block;
          fill: none;
          height: 12px;
          width: 12px;
          stroke: currentcolor;
          stroke-width: 5.33333;
          overflow: visible;
        "
      >
        <g fill="none">
          <path
            d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"
          ></path>
        </g>
      </svg>
    </button>
    <div class="host-img-container">
      <img [src]="stay.host.thumbnailUrl" alt="Image of host" />
    </div>
    <span class="img-index"></span>
  </div>
  <div class="txt-container text-left">
    <div class="stay-rate flex align-center space-between">
      <span class="icon">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="display: block; height: 12px; width: 12px; fill: currentcolor"
        >
          <path
            d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z"
            fill-rule="evenodd"
          ></path>
        </svg>
      </span>
      <span class="rate">{{
        stay.rate === 4 || stay.rate === 5 ? stay.rate + ".0" : stay.rate
      }}</span>
    </div>
    <div class="stay-name fw600">{{ stay.name }}</div>
    <div class="stay-km-away">{{ distance }} km away</div>
    <div class="stay-dates">
      {{
        currDate.start.toLocaleDateString("en-GB", {
          month: "short",
        }) + ' ' +
        currDate.start.toLocaleDateString("en-GB", {
          day: "2-digit",
        })





      }}-{{
      
        currDate.end.toLocaleDateString("en-GB", {
              day: "2-digit",
            })

      }}
    </div>
    <div class="stay-price">
      <span class="fw600">${{ stay.price }}</span> night
    </div>
  </div>
</article>
