@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";
.wishlist-list-wrapper {
  padding-block-end: 6em;
  .btn.btn-remove {
    position: absolute;
    right: 25%;
    background-color: #fff;
    border-radius: 1em;
    transform: translate(10px, 10px);
  }
  .btn-wishlist {
    background-color: transparent;
  }
  @include for-mobile-layout {
    flex-direction: column;
    align-items: center;
  }
}
