<ul
  *ngIf="!isModal; else modalWishlist"
  class="wishlist-list-wrapper flex gap1-5"
>
  <a
    routerLink="{{ wishlist.id }}"
    *ngFor="let wishlist of user.wishlists; let i = index"
  >
    <wishlist-preview
      [isModal]="isModal"
      [wishlist]="wishlist"
    ></wishlist-preview>
  </a>
</ul>
<ng-template #modalWishlist>
  <ul class="wishlist-list-wrapper in-modal flex column gap0-5">
    <li *ngFor="let wishlist of user.wishlists; let i = index">
      <button class="btn-wishlist" (click)="addStayToWishlist(wishlist)">
        <wishlist-preview
          [isModal]="isModal"
          [wishlist]="wishlist"
        ></wishlist-preview>
      </button>
    </li>
  </ul>
</ng-template>
