@import "../../app-root/app.component.scss";
.wishlist-list-wrapper {
  .btn.btn-remove {
    position: absolute;
    right: 25%;
    background-color: #fff;
    border-radius: 1em;
  }
  .btn-wishlist {
    background-color: transparent;
  }
  @include for-mobile-layout {
    flex-direction: column;
  }
}
