@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";
.loader-wrapper {
  width: var(--stay-preview-width);

  .loader {
    animation: bgcTransition 1s linear infinite alternate;
  }

  @keyframes bgcTransition {
    0% {
      background-color: #b8b8b8;
    }

    100% {
      background-color: #ebebeb;
    }
  }

  .img-loader {
    border-radius: 1em;

    width: 100%;
    height: 100%;
    min-height: var(--stay-preview-height);
  }
  .txt-loader-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    min-height: em(120px);
    row-gap: 0.2em;

    .txt-loader {
      grid-column: 1;
      height: 80%;
      border-radius: 0.3em;

      &:nth-child(1) {
        width: 80%;
        grid-row: 1;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:nth-child(3) {
        width: 40%;
      }
      &:nth-child(4) {
        width: 30%;
      }
      &:nth-child(5) {
        width: 20%;
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
      }
    }
  }
  @include for-mobile-layout {
    width: 100%;
    .img-loader {
      min-height: 14em;
    }
  }
}
