@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";

.review-list-wrapper {
  height: 100%;
  .review-list-header {
    input[name="search-reviews"] {
      margin: 1em;
    }
  }
  .reviews-list {
    height: 100%;
    overflow: auto;
    padding: 1em;
    padding-block-end: 5em;
  }
}
