<section
  class="dashboard-wrapper column flex align-center space-between gap1 shadow mbs1 p1"
>
  <nav class="dashboard-nav flex align-center space-between gap0-5 full-width">
    <button
      (click)="currCmp = 'orders'"
      [class.active]="currCmp === 'orders'"
      class="btn btn-dashboard pb0-5 justify-start shadow flex align-center gap1 orders"
    >
      <fa-icon class="svg-container" [icon]="faList"></fa-icon>
      <span class="txt-container fs20 fw500 hidden-on-mobile">Orders</span>
    </button>
    <button
      (click)="currCmp = 'stays'"
      [class.active]="currCmp === 'stays'"
      class="btn btn-dashboard pb0-5 justify-start shadow flex align-center gap1 my-stays"
    >
      <fa-icon class="svg-container" [icon]="faHouse"> </fa-icon
      ><span class="txt-container fs20 fw500 hidden-on-mobile">My Stays</span>
    </button>
    <a
      routerLink="/stay/edit"
      class="btn btn-dashboard pb0-5 justify-start shadow flex align-center gap1 add-stay"
      ><fa-icon class="svg-container" [icon]="faPlusCircle"> </fa-icon
      ><span class="txt-container fs20 fw500 hidden-on-mobile"
        >Add a Stay</span
      ></a
    >
  </nav>
  <ng-container [ngSwitch]="currCmp">
    <ng-container *ngSwitchCase="'stays'">
      <section class="stay-list-table flex column gap1 pbs1 pi0-5">
        <header class="stay-list-table-header my-stays-grid hidden-on-mobile">
          <h4 class="fw500 fs18 mb1">Stay name</h4>
          <h4 class="fw500 fs18 mb1">Location</h4>
          <h4 class="fw500 fs18 mb1">Price</h4>
          <h4 class="fw500 fs18 mb1">Capacity</h4>
          <h4 class="fw500 fs18 mb1">Property type</h4>
        </header>
        <section
          *ngFor="
            let stay of stays;
            let i = index;
            trackBy: trackByService.byId
          "
          class="stay-item-container"
        >
          <a
            routerLink="/stay/{{ stay._id }}"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="my-stays-grid"
          >
            <p class="mb1">
              <span class="show-on-mobile">Name:</span>{{ stay.name }}
            </p>
            <p class="mb1">
              <span class="show-on-mobile">Location:</span
              ><span>{{ stay.loc.address }}</span>
            </p>
            <p class="mb1">
              <span class="show-on-mobile">Price:</span>{{ stay.price }}
            </p>
            <p class="mb1">
              <span class="show-on-mobile">Beds:</span
              >{{ stay.equipment.bedsNum }}
            </p>
            <p class="mb1">
              <span class="show-on-mobile">Property type:</span
              >{{ stay.roomType }}
            </p>
            <div class="btns-container flex gap0-5 p0-5 full-width">
              <button
                (click)="onUpdateClick(stay._id)"
                class="btn btn-update flex align-center gap0-5 p1"
                appPreventDefault
                appStopPropagation
              >
                <fa-icon class="svg-container" [icon]="faPencil"> </fa-icon
                >Update
              </button>
              <button
                class="btn btn-options"
                appPreventDefault
                appStopPropagation
                (click)="showRemoveOption(stay._id)"
              >
                <fa-icon class="svg-container" [icon]="faEllipsisH"> </fa-icon>
              </button>
              <button
                *ngIf="stayIdToRmove === stay._id"
                class="btn btn-remove flex align-center gap0-5"
                appPreventDefault
                appStopPropagation
                (click)="onRemoveStay(stay._id)"
              >
                <fa-icon class="svg-container" [icon]="faTrash"> </fa-icon>
                Remove {{ stay.name }}
              </button>
            </div>
          </a>
        </section>
      </section>

      <ng-template *ngIf="stays && !stays.length">
        <div
          class="call-to-action shadow flex align-center column space-around gap1 full-width p1"
        >
          <p class="stay-amount fs24 fw500">You have 0 stays</p>
          <a routerLink="/stay/edit" class="btn btn-become-host fw500 pi2-5 pb1"
            >Become a host now</a
          >
        </div>
      </ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="'orders'">
      <header
        class="order-list-header flex align-center space-between full-width p1 shadow"
      >
        <h1
          *ngIf="orders.length; else noOrdersYet"
          class="text-left fw600 full-width"
        >
          Hello {{ user!.fullname }}, you have {{ orders.length }} order<span
            *ngIf="orders.length > 1"
            >s</span
          >
        </h1>
        <ng-template #noOrdersYet>
          <h1 class="text-left fw600 full-width">
            Hello {{ user!.fullname }}, your bookings will be displayed here.
            Make sure your listings are attractive and complete to attract more
            guests.
          </h1>
        </ng-template>

        <div class="order-stats-map flex align-center gap1">
          <div
            class="flex align-center"
            *ngFor="
              let stat of statsMap | keyvalue;
              trackBy: trackByService.byIdx
            "
          >
            <span [class]="'status-circle ' + stat.key"></span>
            <span class="mi0-5">{{ stat.value }}</span>
            <span>{{ stat.key }}</span>
          </div>
        </div>
      </header>
      <order-list
        [orders]="orders"
        *ngIf="orders && orders.length"
        (orderStatChanged)="onOrderStatChanged($event)"
      ></order-list>
    </ng-container>
  </ng-container>

  <button class="btn btn-logout show-on-mobile" (click)="onLogout()">
    Logout
  </button>
</section>
