@import "../../app-root/app.component.scss";
.wishlist-page-wrapper {
  .wishlist-header {
    h1 {
      color: #333;
    }
    .btn {
      border: none;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
